
// First Section
.tab-content{
     margin: 0 0 80px;
     @include respond(phone_land) {
        margin: 0 0 40px;
    }
}
.all-available-units-section{
    padding: 30px 0 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(phone_land) {
        padding: 16px 0;
    }
    .all-available-units-left{
         h3{
            color: $darkBlack;
            margin-bottom: 10px;
            font-size: $font22;
            font-weight: $fontweight2;
            @include respond(phone_land) {
                font-size: $font16;
                margin-bottom: 4px;
            }
         }
         span{
            color: $black;
            font-size: $font14;
            font-weight: $fontweight2;
         }
    }
    .all-available-units-right{ 
        display: flex;
        gap: 8px;
        a{
            display: inline-block;
            height: 40px;
            width: 40px;
            border-radius: 10px;
            border: 1px solid $color1;
            vertical-align: middle;
            line-height: 34px;
            text-align: center;
            box-sizing: border-box;
            &.search-filter{
                font-size: $font14;
                color: $black;
                width:75px;
                display: none;
                @include respond(phone_land) {
                   display: block;
                }
                img{
                    margin-right: 3px;
                }
            }
            img{
                vertical-align: middle;
            }
            @include respond(phone_land) {
                height: 34px;
                width: 34px;
                line-height: 30px;
            }
            &.active{
                background-color: $darkBlack;
            }
        }
    }
}


// Second section
.select-bedroom-section-wrap{
    border: 1px solid $color1;
    border-radius: 8px;
    padding: 15px 16px;
    margin-bottom: 21px;
    @include respond(phone_land) {
        padding: 15px 16px 0;
    }
    h3{
        color: $darkBlack;
        margin-bottom: 12px;
        font-size: $font18;
        font-weight: $fontweight2;
        @include respond(phone_land) {
            font-size: $font14;
        }
     }
     ul{
         display: flex;
         align-items: center;
         justify-content: space-between;
         @include respond(phone_land) {
            display: block;
        }
         li{
            @include respond(tab) {
                display: inline-block;
                margin:0 12px 12px 0;
            }
            a{
                color: $black;
                font-size: $font14;
                text-decoration: underline;
                @include respond(phone_land) {
                    font-size: $font12;
                }
            }
         }
     }
}


// Section 3
.all-units-wrapper{
    display: flex;
    gap: 31px;
    .left-side-bar-filters{
        width: 264px;
            @include respond(phone_land) {
                display: none;
                &.modal{
                    display: block;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    top:0;
                    left:0;
                }
        }
       
        .upper-filter-section,.bottom-filter-section{
            background-color: $color1;
            border-radius: 16px;
            padding: 16px;
            margin-bottom: 20px;
            h3{
                font-weight: $fontweight2;
                font-size: $font18;
                margin-bottom: 15px;
            }
        }
        .upper-filter-section{
            .filter-title-wrap{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .close-icon{
                     display: none;
                     margin-top: -10px;
                     @include respond(phone_land) {
                        display: block;
                  }
                }
            }
            @include respond(phone_land) {
                  width: 264px;
                  margin:52px auto;
                  overflow: scroll;
                  height: 85%;
            }
             h3{
                color:$darkBlack;
                margin-bottom: 16px;
             }
            .form-view{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .range-slider .price-input{
                    align-items: center;
                    span{
                        color: $logoName;
                        font-size: $font14;
                    }
                    .field{
                        width: auto;
                        input{
                            border-bottom:  0.5px solid $logoName;
                            ;
                       }
                    }
                } 
                
                .slider-mid{
                    position: static;
                    width: 100%;
                    margin: 25px 0 15px;
                    .slider{
                         border: none;
                    }
                }
                 .form-cols{
                    .form-ctrl {
                        background: $white;
                        border-radius: 8px;
                        border: 1px solid #ccc;
                        height: 48px;
                        font-size: $font16;
                        font-weight: 400;
                        color: $black;
                        padding: 0 10px;
                        appearance: none;
                        opacity: 70%;
                        width: 100%;
                        &.dropdown {
                            background:#fff url(../images/arrow_bottom_down.png) no-repeat right 10px top 13px;
                            background-size: 25px 25px !important;
                        }
                    }
                    label{
                        display: block;
                        color: $color2;
                        font-size: $font16;
                        margin-bottom: 10px;
                        font-weight: $fontweight5;
                    }
                 }
                 .submit{
                    background-color: $black;
                    border-radius: 8px;
                    display: block;
                    width: 100%;
                    color:$white;
                    font-weight: $fontweight3;
                    font-size: $font15;
                    cursor: pointer;
                    border: none;
                    padding:12px 0;
                    box-sizing: border-box;
                 }
            }
        }
        .bottom-filter-section{
            @include respond(phone_land) {
                  display: none;
            }
            
            h3{
               color:$color2;
            }
            ul{
                li{
                    display: flex;
                    align-items: center;
                    padding:15px 0;
                    &:first-child{
                        border-bottom: 1px solid #EFEFEF;
                    }
                    img{
                        margin-right: 25px;
                    }
                    .contact-right-section{
                        span{
                            font-size: $font14;
                            display: block;
                            &.contact-text{
                                color: $black;
                                opacity: 70%;
                                margin-bottom: 10px;
                            }
                            &.contact-text-dark{
                                color: $color3;
                                font-weight: $fontweight2;
                                a {
                                    color: $color3; 
                                }
                            }
                        }
                    }
                }
            }
       }
    }
    .all-units-section{
         h4{
             font-size: $font18;
             color:$darkBlack;
             font-weight: $fontweight2;
             margin-bottom: 16px;
         }
         .all-units-cards-wrap{
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            @include respond(tab_land) {
                gap: 10px;
                justify-content: space-between;
            }
            .all-units-cards{
                border: 1px solid $color1;
                border-radius: 16px;
                padding:16px;
                .card-details-wrap{
                    @include respond(phone_land) {
                        display: flex;
                        flex-wrap: wrap;
                        .card-details{
                             width: 50%;
                             position: relative;
                             margin-bottom: 40px;
                             span{
                                 i{
                                    position: absolute;
                                    left: 0;
                                    top:25px;
                                 }
                             }
                        }
                    }
                }
                @include respond(tab_land) {
                    width: 44%;
                    padding: 10px;
                }
                @include respond(phone) {
                    width: 100%;
                    padding: 10px;
                }
                img.feature-image{
                    margin: 0 0 16px;
                    @include respond(tab_land) {
                        width: 100%;
                    }
                }
                h3{
                    font-size: $font18;
                    color: $black;
                    font-weight: $fontweight2;
                    margin-bottom: 10px;
                    @include respond(tab) {
                        font-size: $font16;
                    }
                }
                .card-details{
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    img{
                         margin-right: 5px;
                    }
                    span{
                        color:rgba(43, 42, 40, 0.7);
                        font-size: $font16;
                        i{
                            font-weight: $fontweight2;
                            color:$black;
                            margin-left: 3px;
                        }
                    }
                }
                .view-details-wrap{
                     border-top: 1px solid $color1;
                     padding-top:16px;
                     text-align: center;
                     a{
                        color:$black;
                        font-size: $font16;
                        font-weight: $fontweight2;
                        i{
                            vertical-align: middle;
                            margin-left: 4px;
                        }
                     }
                }
            }
         }
    }
}


// pagination CSS
.search-result-pagination{
    margin:16px 0;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        li{
             a{
                 height: 44px;
                 width: 44px;
                 font-size: $font16;
                 font-weight: $fontweight4;
                 line-height: 44px;
                 text-align: center;
                 color: $black;
                 border-radius: 10px;
                 border: 1px solid $color1;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 box-sizing: border-box;
                 @include respond(phone_land) {
                    height: 30px;
                    width: 30px;
                }
                 &:hover {
                    background: #f8f8f8;
                 }
                 &.active{
                    color: $white;
                    background-color: $black;
                 }
             }
             &.left-arrow {
                img {
                    transform: rotate(180deg);
                }
             }
        }
     }
}


//  Add Class Body CSS
body{
     &.modal{
        overflow: hidden;
     }
}