// First Section
.tab-content {
  margin: 0 0 80px;
  @include respond(phone_land) {
    margin: 0 0 40px;
  }
}
.all-available-units-section {
  padding: 30px 0 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(phone_land) {
    padding: 16px 0;
  }
  .all-available-units-left {
    h3 {
      color: $darkBlack;
      margin-bottom: 10px;
      font-size: $font22;
      font-weight: $fontweight2;
      @include respond(phone_land) {
        font-size: $font16;
        margin-bottom: 4px;
      }
    }
    span {
      color: $black;
      font-size: $font14;
      font-weight: $fontweight2;
    }
  }
  .all-available-units-right {
    display: flex;
    gap: 8px;
    a {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      border: 1px solid $color1;
      vertical-align: middle;
      line-height: 34px;
      text-align: center;
      box-sizing: border-box;
      @include respond(phone_land) {
        &[href$="#grid"] {
          display: none;
        }
      }
      &.search-filter {
        font-size: $font14;
        color: $black;
        width: 75px;
        display: none;
        @include respond(phone_land) {
          display: block;
        }
        img {
          margin-right: 3px;
        }
      }
      img {
        vertical-align: middle;
      }
      @include respond(phone_land) {
        height: 34px;
        width: 34px;
        line-height: 30px;
      }
      &.active {
        background-color: $darkBlack;
      }
    }
  }
}

// Second section
.select-bedroom-section-wrap {
  border: 1px solid $color1;
  border-radius: 8px;
  padding: 15px 16px;
  margin-bottom: 21px;
  @include respond(phone_land) {
    padding: 15px 16px 0;
  }
  h3 {
    color: $darkBlack;
    margin-bottom: 12px;
    font-size: $font18;
    font-weight: $fontweight2;
    @include respond(phone_land) {
      font-size: $font14;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(phone_land) {
      display: block;
    }
    li {
      @include respond(tab) {
        display: inline-block;
        margin: 0 12px 12px 0;
      }
      a {
        color: $black;
        font-size: $font14;
        text-decoration: underline;
        @include respond(phone_land) {
          font-size: $font12;
        }
      }
    }
  }
}

// Section 3
.all-units-wrapper {
  display: flex;
  gap: 31px;
  &.buying_section {
    display: block;
    padding: 2rem 0 5rem;
    .all-units-section .all-units-cards-wrap.cs_row {
      margin-left: -12px;
      margin-right: -12px;
      gap: 25px 0 !important;
      & > .cs_col {
        padding-left: 12px;
        padding-right: 12px;
        flex: 0 0 33.3%;
        max-width: 33.3%;
        box-sizing: border-box;
      }
    }
    .cs_title {
      margin-bottom: 28px;
    }
    .all-units-cards {
      min-width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      figcaption {
        padding-top: 16px;
      }
    }
    p {
      font-size: 16px;
      opacity: 0.7;
      line-height: 1.35;
      margin-bottom: 15px;
    }
    .cs_ratio {
      position: relative;
      display: block;
      overflow: hidden;
      border-radius: 8px;
      &:before {
        padding-top: 50%;
        content: "";
        display: block;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    @include respond(tab_land) {
      .all-units-section .all-units-cards-wrap.cs_row {
        & > .cs_col {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      p {
        font-size: 14px;
      }
    }
    @include respond(phone_land) {
      padding: 2rem 0 3rem;
      .all-units-section .all-units-cards-wrap.cs_row {
        gap: 15px 0;
        & > .cs_col {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
    @include respond(phone) {
      .all-units-section .all-units-cards-wrap.cs_row {
        & > .cs_col {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
    .view-details-wrap {
      margin-top: auto;
    }
  }
  .cs_search_card {
    .all-units-cards {
      line-height: 1.2;
      flex: 0 0 calc(50% - 8px);
      max-width: calc(50% - 8px);
      box-sizing: border-box;
      h3 {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-spaces;
        display: -webkit-box;
      }
      * {
        box-sizing: border-box;
      }
      img {
        max-width: 100%;
      }
    }
    @include respond(tab_land) {
      .all-units-cards {
        .feature-image {
          height: 144px;
        }
      }
    }
    @include respond(tab) {
      .all-units-cards {
        .feature-image {
          height: 110px;
        }
      }
    }
    @include respond(phone) {
      .all-units-cards {
        flex: 0 0 100%;
        max-width: 100%;
        .feature-image {
          height: 150px;
        }
      }
    }
  }
  .left-side-bar-filters {
    width: 264px;
    @include respond(phone_land) {
      display: none;
      &.modal {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    .upper-filter-section,
    .bottom-filter-section {
      background-color: $color1;
      border-radius: 16px;
      padding: 16px;
      margin-bottom: 20px;
      h3 {
        font-weight: $fontweight2;
        font-size: $font18;
        margin-bottom: 15px;
      }
    }
    .upper-filter-section {
      .filter-title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .close-icon {
          display: none;
          margin-top: -10px;
          @include respond(phone_land) {
            display: block;
          }
        }
      }
      @include respond(phone_land) {
        width: 264px;
        margin: 52px auto;
        overflow: scroll;
        height: 85%;
      }
      h3 {
        color: $darkBlack;
        margin-bottom: 16px;
      }
      .form-view {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .inner-form-field {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        .range-slider .price-input {
          align-items: center;
          span {
            color: $logoName;
            font-size: $font14;
          }
          .field {
            width: auto;
            input {
              border-bottom: 0.5px solid $logoName;
            }
          }
        }

        .slider-mid {
          position: static;
          width: 100%;
          margin: 25px 0 15px;
          .slider {
            border: none;
          }
        }
        .form-cols {
          .form-ctrl {
            background: $white;
            border-radius: 8px;
            border: 1px solid #ccc;
            height: 48px;
            font-size: $font16;
            font-weight: 400;
            color: $black;
            padding: 0 10px;
            appearance: none;
            opacity: 70%;
            width: 100%;
            &.dropdown {
              background: #fff url(../images/arrow_bottom_down.png) no-repeat
                right 10px top 13px;
              background-size: 25px 25px !important;
            }
          }
          label {
            display: block;
            color: $color2;
            font-size: $font16;
            margin-bottom: 10px;
            font-weight: $fontweight5;
          }
        }
        .submit {
          background-color: $black;
          border-radius: 8px;
          display: block;
          width: 100%;
          color: $white;
          font-weight: $fontweight3;
          font-size: $font15;
          cursor: pointer;
          border: none;
          padding: 12px 0;
          box-sizing: border-box;
        }
      }
    }
    .bottom-filter-section {
      @include respond(phone_land) {
        display: none;
      }

      h3 {
        color: $color2;
      }
      ul {
        li {
          display: flex;
          align-items: center;
          padding: 15px 0;
          &:first-child {
            border-bottom: 1px solid #efefef;
          }
          img {
            margin-right: 25px;
          }
          .contact-right-section {
            span {
              font-size: $font14;
              display: block;
              &.contact-text {
                color: $black;
                opacity: 70%;
                margin-bottom: 10px;
              }
              &.contact-text-dark {
                color: $color3;
                font-weight: $fontweight2;
                a {
                  color: $color3;
                }
              }
            }
          }
        }
      }
    }
  }
  .all-units-section {
    &.search-list {
      flex-grow: 1;
      .all-units-cards-wrap {
        display: block;
        .all-units-cards {
          display: flex;
          gap: 22px;
          box-sizing: border-box;
          margin-bottom: 16px;
          @include respond(tab_land) {
            width: 100%;
          }
        }
        .card-details {
          margin-right: 35px;
        }
        .card-details-wrap {
          display: flex;
          flex-wrap: wrap;
        }
        .search-card {
          flex-grow: 1;
          .view-details-wrap {
            text-align: left;
          }
        }
        .search-image-section {
          .feature-image {
            width: 190px;
            height: 140px;
            margin: 0;
          }
        }
      }
    }
    h4 {
      font-size: $font18;
      color: $darkBlack;
      font-weight: $fontweight2;
      margin-bottom: 16px;
    }
    .search-map-section {
      img {
        width: 100%;
      }
    }
    .all-units-cards-wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      @include respond(tab_land) {
        gap: 10px;
        justify-content: space-between;
      }
      .all-units-cards {
        border: 1px solid $color1;
        border-radius: 16px;
        padding: 16px;
        .card-details-wrap {
          @include respond(phone_land) {
            display: flex;
            flex-wrap: wrap;
            .card-details {
              width: 50%;
              position: relative;
              margin-bottom: 40px;
              span {
                i {
                  position: absolute;
                  left: 0;
                  top: 25px;
                }
              }
            }
          }
        }
        @include respond(tab_land) {
          width: 44%;
          padding: 10px;
        }
        @include respond(phone) {
          width: 100%;
          padding: 10px;
        }
        img.feature-image {
          margin: 0 0 16px;
          width: 100%;
          @include respond(tab_land) {
            width: 100%;
            max-height: fit-content;
          }
        }
        h3 {
          font-size: $font18;
          color: $black;
          font-weight: $fontweight2;
          margin-bottom: 10px;
          @include respond(tab) {
            font-size: $font16;
          }
        }
        .card-details {
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          img {
            margin-right: 5px;
          }
          span {
            color: rgba(43, 42, 40, 0.7);
            font-size: $font16;
            i {
              font-weight: $fontweight2;
              color: $black;
              margin-left: 3px;
            }
          }
        }
        .view-details-wrap {
          padding-top: 16px;
          text-align: center;
          a {
            color: $black;
            font-size: $font16;
            font-weight: $fontweight2;
            i {
              vertical-align: middle;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}

// pagination CSS
.search-result-pagination {
  margin: 16px 0;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    li {
      a {
        height: 44px;
        width: 44px;
        font-size: $font16;
        font-weight: $fontweight4;
        line-height: 44px;
        text-align: center;
        color: $black;
        border-radius: 10px;
        border: 1px solid $color1;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        // @include respond(phone_land) {
        //   height: 30px;
        //   width: 30px;
        // }
        &:hover {
          background: #f8f8f8;
        }
        &.active {
          color: $white;
          background-color: $black;
        }
      }
      &.left-arrow {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

//  Add Class Body CSS
body {
  &.modal {
    overflow: hidden;
  }
}

// No Search Found
.no-search-found {
  padding: 45px 0 58px;
  margin: 0 0 25px;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  h3 {
    font-weight: $fontweight3;
    font-size: $font30;
  }
}
// =========Buying Detail Page========
.buying_detail {
  padding-top: 30px;
  padding-bottom: 8rem;
  @include respond (phone_land){
    padding-bottom: 1rem;
  }
  .cs_title {
    margin-bottom: 14px;
  }
  .detail_page_hero {
    padding-top: 35px;
    margin-bottom: 47px;
  }
  .mb-4 {
    margin-bottom: 1rem;
  }
  .pb-1 {
    padding-bottom: 0.25rem;
  }
  div.all-units-wrapper {
    .property-ul.li_3 {
      > li {
        flex: 0 0 33.3%;
        padding-right: 1rem;
        box-sizing: border-box;
        @include respond(tab_land) {
          flex: 0 0 50%;
        }
        @include respond(phone) {
          flex: 0 0 100%;
        }
      }
    }
    .property-ul.full-width {
      li {
        flex: 0 0 100%;
        align-items: flex-start;
        img {
          margin-top: 2px;
        }
      }
    }
    .property-inner {
      .img-content img {
        object-fit: cover;
      }
      @include respond (tab){
        padding: 15px;
        border-radius: 12px;
        .img-content img {
          height: 150px;
        }
      }
      p {
        color: #2b2a28;
        margin-bottom: 1.5rem;
        font-size: 16px;
        line-height: calc(26 / 16);
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
    .left-side-bar-filters {
      flex: 0 0 264px;
      textarea.form-ctrl {
        height: auto !important;
        padding: 1rem !important;
        box-sizing: border-box;
      }
      .form-view {
        padding-top: 1.25rem;
        input,
        select,
        textarea {
          max-width: 100%;
          box-sizing: border-box;
          color: rgba(43, 40, 42, 0.7) !important;
        }
        [type="number"] {
          -moz-appearance: textfield;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }
        .check-box {
          margin-left: 0.76rem;
          margin-right: 0.76rem;
          span {
            font-size: 14px;
          }
          a {
            color: inherit;
          }
          .checkmark {
            border-radius: 3px;
            opacity: 0.5;
          }
          input:checked ~ .checkmark {
            opacity: 1;
          }
        }
      }
    }
  }
  .sb_titlewarp {
    text-align: justify;
    p {
      line-height: calc(22 / 16);
    }
  }
  .file_lable {
    padding-top: 5px;
    margin-bottom: 10px;
    small {
      font-size: 80%;
    }
  }
  &.mb-4 {
    padding-bottom: 4rem;
  }
}
.cs_upload{
  .file_lable{
    line-height: 24px;
    small{
      color: $logoName; 
    }
  }
  .file-input-container{
    margin-top: 10px;
    height: 55px;
    align-items: center;
    justify-content: start;
    border-color:  $color6;
    flex-flow: row;
    .file-input-label{
      border-radius: 8px;
      font-size: 16px;
      color: $color2;
      background: $bannerBoxColor;
      padding: 10px 14px;
      flex: 0 0 110px;     
      cursor: pointer;
    }
    @include respond (tab){
      height: 48px;
    }
  }
}
.cs_responsive_vdo {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    padding-top: 48%;
  }
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
/* Style for the file input container */
.file-input-container {
  position: relative;
  background: white;
  height: 48px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #e5e5ea;
  padding: 6px 18px 6px 10px;
  align-items: center;
  .file-input-label {
    border-radius: 18px;
    background: #e3e3e3;
    display: flex !important;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 10px 0 0 !important;
    height: 100%;
    color: rgba(43, 40, 42, 0.7);
    width: 97px;
    box-sizing: border-box;
  }

  .file-input {
    display: none;
  }
}
.uploaded-file-name {
  margin-top: 0;
  font-weight: 300;
  flex-grow: 1;
  font-size: 12px;
  line-height: 1.1;
  padding-bottom: 5px;
  color: rgba(43, 40, 42, 0.7);
  position: relative;
  top: 5px;
}
// ===========Responsive==============
@include respond(phone_land) {
  .all-units-wrapper
    .all-units-section.search-list
    .all-units-cards-wrap
    .all-units-cards
    .card-details-wrap
    .card-details {
    width: auto;
  }
  .buying_detail{
    div.all-units-wrapper{
      display: block;
      .left-side-bar-filters{
        display: block;
        flex: 0 0 100%;
        width: 100%;
        margin: 0;
        height: auto;
        .upper-filter-section{
          width: auto;
        }
      }
    }
  }
}
@include respond(phone) {
  .all-units-wrapper .all-units-section.search-list .all-units-cards-wrap {
    .all-units-cards {
      flex-flow: column;
      .card-details-wrap .card-details {
        width: 50%;
        padding-right: 20px;
        margin-right: 0;
        box-sizing: border-box;
      }
    }
    .search-image-section .feature-image {
      width: 100%;
      height: 150px;
    }
    .search-card .view-details-wrap {
      text-align: center;
    }
  }
}

.upcoming-proj-det {
  display: flex;
  align-items: center;
  gap: 20px;
  @include respond(phone) {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.form-field-bg {
  select {
    opacity:1 !important;
  }
}

.width-50 {
  display: flex;
  gap: 20px;
  select {
    flex: 50%;
  }
}

.common-heading.village-free {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include respond(phone) {
    flex-direction: column;
    gap: 15px;
  }
  .upcoming-proj-det {
    margin-top: 14px;
  }
  .btn-links {
    border-radius: 8px;
    width: 142px;
    height: 55px;
    background-color: $black;
    color: $white;
    font-size: $font15;
    font-weight: $fontweight3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    @include respond(phone) {
      width: 100%;
    }
  }
}
// ======Chip style========
.chip_wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  >span{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 11px 14px;
    border: 1px solid $pastelGreen;
    border-radius: 8px;
    color: $color8;
    font-size: 16px;
    color:$color16;
    .cross_chip{
      width: 18px;
      height: 18px;
      border: none;
      box-shadow: none;
      background: url(../images/closeN.svg) no-repeat center center/18px;
    }
  }

}