.banner-section{
    position: relative;
    .banner-img{
        img{
            width: 100%;
            height: auto;
            @include respond(tab) {
                height: 225px;
                object-fit: cover;
            }
        }
    }
    .right-box{
        width: 88px;
        height: 88px;
        background: rgba(228, 228, 220, 0.8);
        position: absolute;
        top: 0px;
        right: 0px;
        @include respond(tab_land) {
            width: 68px;
            height: 68px;
        }
        @include respond(tab) {
            width: 49px;
            height: 49px;
        }
    }
    .right-content-box{
        background: rgba(228, 228, 220, 0.8);
        position: absolute;
        top: 88px;
        right:88px;
        padding: 65px 46px;
        @include respond(desk) {
            padding: 35px;
        }
        @include respond(tab_land) {
            top: 68px;
            right: 68px;
            padding: 35px 36px;
        }
        @include respond(tab) {
            padding: 15px 30px;
        }
        @include respond(tab) {
            padding: 12px 18px;
            top: 40px;
            right:49px;
        }

        h2{
            font-size: $font41;
            color: #2B2A28;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include respond(tab_land) {
                font-size: calc($font41 - 15px);
            }
            @include respond(tab) {
                font-size: 21px; 
                max-width: 200px;        
            }
        }
        p{
            font-size: $font24;
            color: $bannerTextColor;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include respond(tab_land) {
                font-size: calc($font24 - 5px);
            }
            @include respond(tab) {
                font-size: calc($font14);
            }
        }
    }
    .container {
        position: relative;
    }
    @include respond(tab_land) {
        .container{
            @include respond(tab_land) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
.global-search{
     position: relative;
     z-index: 1;
}
.search-section{
    background: $bannerBoxColor;
    padding:16px;
    margin-top: -150px;
    z-index: 2;
    border-radius: 16px;
    border: 1px solid #E4E4DC;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
    position: absolute;
    left: 0;
    right: 0;
    @include respond(tab_land) {
        max-width: unset;
        margin-left: 15px;
        margin-right: 15px;
        margin-top:-70px;
    }
    @include respond(tab) {
        margin:15px;
        position: static;
        padding: 16px;
        margin: -55px 0 0 0;
    }
    h3{
        font-size: $font22;
        font-weight: 500;
        line-height: 33px;
        color: #1C190E;
        @include respond(tab) {
            text-align: center;
        }
    }
    .form-section{
        .form-sec {
            display: flex;
            width: 100%;
            @include respond(tab) {
                display: block;
                text-align: center;
                background: #E4E4DC;
            }
        }
        .form-raper {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border: 1px solid #c7c6c2;
            height: 60px;
            padding: 0;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            flex: 1;
            background: $white;
            display: flex;
            @include respond(tab) {
                margin-bottom: 10px;
                border-radius: 0px 8px 8px 8px;
                height: auto;
                padding: 0;
                width: 100%;
                text-align: center;
                flex-direction: column;
            }  
        }
        button{
            padding: 0 34px;
            height: 61px;
            color: $white;
            background: $black;
            font-size: $font18;
            font-weight: 500;
            border-radius: 0px 8px 8px 0px;
            border: none;
            text-transform: uppercase;
            transition: all 0.4s ease-in-out;
            font-family: inherit;
            &:hover {
                background: rgba($color: #000000, $alpha: 1.0);
            }
            @include respond(tab) {
                font-size: 1rem;
                width: 100%;
                margin-bottom: 10px;
                height: 48px;
                padding: 0 15px;
                border-radius: 8px;
           }  
        }

    }
    .filter-section{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .advanced-filters {
            display: flex;
            margin-left: auto;
            margin-right: 1rem;
            gap: 10px;
            background: none;
            border: none;
            padding: 13px;
            cursor: pointer;
            position: relative;
            font-size: 18px;
            font-weight: 500;
            align-items: center;
            text-transform: uppercase;
            color: #2B2A28;
            font-family: inherit;
            @include respond(tab) {
                font-size: 14px;
                width: 100%;
                justify-content: center;
                padding: 0;
            }
            img{
                width: 16px;
                height: 16px;
            }
            .drop-dw {
                width: 30px;
                height: 30px;
                position: absolute;
                right: -25px;
                top: 8px;
                @include respond(tab) {
                    position: unset;
                    margin-left: -10px;
                }
            }
            &.rotate {
                .drop-dw {
                    transform: rotate(180deg); 
                }
            }
        }
        .advanced-filters-box {
            height: 0;
            width: 100%;
            overflow: hidden;
            &.view {
                height: auto;
                padding: 20px;
                padding-top: 20px;
                overflow: visible;
            }
        }
        .form-view {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 36px;
            @include respond(tab) {
               display: block;
            }
            .form-cols { width: 48%;
                display: flex;
                flex-direction: column;
                @include respond(tab) {
                    margin-bottom: 10px;
                    width: 100%;
                 }
                label {
                    color: #2B2A28;
                    
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-top: 0px;
                    margin-bottom: 5px;
                    &.properties-view {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-top: 15px;
                        font-size: 14px;
                        .checkmark{
                            margin-top: -4px;
                        }
                    }
                }
                .form-ctrl {
                    background: #fff;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    height: 52px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #2B2A28;
                    padding: 0 10px;
                    appearance: none;
                    box-sizing: border-box;
                    &.dropdown {
                        background:#fff url(../images/arrow_bottom_down.png) no-repeat right 10px top 13px;
                        background-size: 25px 25px;
                    }
                    &.search {
                        padding-left: 45px;
                        background:#fff url(../images/search_icon.png) no-repeat left 10px top 15px;
                        background-size: 25px 25px;
                    }
                }
            }
        }
        .cs_formview2{
            gap: 12px;
        }
        @include respond(tab) {
            background: #E4E4DC;
        }
    }
}

.tab-list {
    display: flex;
    align-items: flex-start;
    margin-left: 16px;
    @include respond(tab) {
        margin-left: 0;
    }
    a {
        display: flex;
        height: 45px;
        padding: 0 18px;
        color: #1C190E;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border-radius: 8px 8px 0px 0px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &.active {
            background: #F1F1EE;
        }
        @include respond(tab) {
            padding: 12px;
            gap: 4px;
            font-size: 14px;
            height: auto;
        }
    }
}

.tabContent {display: none;}

.advance-search {
    border-radius: 16px;
    background: #F1F1EE;
    padding: 16px;
    padding-bottom: 0;
    @include respond(tab) {
        border-radius: 0;
        padding: 0;
    }
}
.cs_search_style{
    background: $white;
    border-radius: 8px 0 0 8px;
    border-right: 1px solid $color15;
    font-family: "bliss_proregular";
    *{
        box-sizing: border-box;
        font-family: inherit;
    }
    flex: 0 0 60%;
    max-width: 60%;
    .fstControls{
        width: 100%;
    }
    .fstQueryInput{
        height: 42px; 
    }
    .fstMultipleMode{
        background: $white;
        border: 0 none;
        width: 100%;
        font-size: 18px;
        border-radius: 8px 0 0 8px;
        input{
            font-size: 18px;
            padding-left: 0;
        }
        .fstElement{
            border: 0;
        }
        .fstChoiceItem{
            background: transparent;
            border: 1px solid $pastelGreen;
            border-radius: 6px;
            font-size: 18px;
            color: $Primary;
            display: flex;
            align-items: center; 
            height: 41px;
            padding:.5rem  3px .5rem 1rem;
        }
        .fstChoiceRemove{
            height: auto;
            background: transparent;
            color: $Primary;
            position: static;
            margin: 0 0 0 3px;
            padding: 0;
            // transform: translateX(10px);
            &:hover{
                background: transparent;
                color: $Primary;
            }
        }
    }
    .fstGroup{
        padding-top: 0;
        &:last-child{
            .fstResultItem{
                background-image: url(../images/Building.svg);
            }
        }
    }
    .fstNoneSelected .fstControls{
        padding-left: 3.25rem;
        background: transparent url(../images/Search.svg) no-repeat left 20px center/22px;
    }
    .fstResults{
        margin-top: 0;
        border: 1px solid $bannerBoxColor;
        border-radius:  8px 8px; 
        padding:12px;
        h3{
            font-size: 16px;
            font-weight: 500;
        }
        .fstResultItem{
            font-size: 18px;
            border: 0 none;
            padding:12px  7px 12px 32px;
            color: $black;
            opacity: 0.7;
            background: url(../images/Pin.svg) no-repeat left 10px center;
            &:hover{
                background-color: $color12;
                
            }
        }
        &::-webkit-scrollbar {
            width: 7px;
          }
    
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
    
          &::-webkit-scrollbar-thumb {
            background: $bannerBoxColor;
          }
    
          &::-webkit-scrollbar-thumb:hover {
            background: $color7;
          }
    }
    .fstNoResults{
        font-size: 16px;
    }
  
}
.cstdropdown{
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
      }
      
      #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
      }
      
      #myInput:focus {outline: 3px solid #ddd;}
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;}
}
.cs_formview2{
    gap: 12px;
    .form-cols{
        &:first-child{
            width: 38%;
            flex: 0 0 38%;
            max-width: 38%;
        }
    }
     .cs_search_style .fstMultipleMode{
        // height: 48px;
        background-position: right 10px top 20px !important;
        input{
            font-size: 16px;
        }
        .fstChoiceItem{
            font-size: 14px;
            height: 35px;
            padding: 8px 10px 5px;  
        }
        .fstQueryInput{
            height: 32px;
        }
        .fstControls{
           padding:7px 0.5em 0em 16px;
           min-height: 48px;
           height: auto;
        }
    }
     .form-cols-out{
        flex: 0 0 calc(62% - 12px) ; 
        max-width: calc(62% - 12px) ; 
        label{
            margin-bottom: 5px;
            line-height: normal; 
            display: block;
        }
    }
    .fstNoneSelected{
        .fstControls{
            padding-left: 20px;
            background: transparent;
        }
    }
    .cs_search_style{
        flex: 0 0 100%;
        max-width: 100%;
        border:0 none;
        background: transparent;
        .fstMultipleMode{
            border-radius: 8px;
            border: 1px solid $color1;
            background: $white url(../images/down-arrow.svg) no-repeat right 10px top 25px;
        }
    }
    .fstResults{
        
        .fstResultItem{
            position: relative;
            padding-right: 2rem;
            &:after{
                content: '';
                position: absolute;
                width: 17px;
                height: 17px;
                border-radius: 3px;
                right: 9px;
                top: 11px;
                border: 1px solid $black;  
            }
            &.fstSelected{
                &::before{
                    content: "";
                    width: 11px;
                    height: 4px;
                    border: 1px solid currentColor;
                    border-width: 1px 1px 0 0;
                    position: absolute;
                    transform: rotate(135deg);
                    right: 0.7rem;
                    top: 17px;
                
                }
            }
        }
    }
    
    .custom-dropdown{
        height: 58px;
        background: $white url(../images/down-arrow.svg) no-repeat right 10px top 25px;

        border: 1px solid $color1;
        border-radius: 8px;
    }
}
.search-section .filter-section {
    .cs_formview3{
        display: flex;
        padding-top: 20px;
        gap:30px; 
        >div{
            flex:0 0 calc(25% - 20px);
            &:last-child{
                flex: 0 0 calc(50% - 20px);
            }
        }
        .area_row{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            >div{
                flex: 0 0 calc(50% - 5px);
                max-width: calc(50% - 5px);
            }
        }
    }
}
.csdropdown_style {
    .custom-dropdown{ 
        
        label{
            opacity: .7;
        }
    }
    &.cs_formview3{
        .custom-dropdown{
             
                background: white;
                padding-left: 10px;
                padding-right: 10px;
                 
             
        }
    }
}
.form-cols-out {
    width: 20%;
    &.search {
        width: 38%;
        flex-grow: 1;
    }
    @include respond(tab) {
        width: 100%;
        &.search {width: 100%;}
    }
    .form-control {
        border: none;
        border-right: 1px solid #c7c6c2;
        height: 60px;
        padding: 0;
        appearance: none;
        color: #4E4E4E;
        font-size: 18px;
        font-weight: 400;
        @include respond(tab) {
            border-right: none;
            border-bottom: 1px solid #c7c6c2;
        }
        &::placeholder {
            color: #4E4E4E;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #4E4E4E;
        }
        &::-ms-input-placeholder { 
            color: #4E4E4E;
        }
        &:focus-visible,
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &.dropdown {
            background: url(../images/arrow_bottom_down.png) no-repeat right 5px top 19px;
            background-size: 25px 25px;
            padding: 0 35px 0 10px;
            font-size: 14px;
            box-sizing: border-box;
            width: 100%;
        }
        &.search {
            padding-left: 45px;
            padding-right: 10px;
            background: url(../images/search_icon.png) no-repeat left 10px top 20px;
            background-size: 22px 22px;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
            box-sizing: border-box;
            font-family: inherit;
        }
    }
    &:last-child .form-control.dropdown {
        border-bottom: none;
    }
}
.custom_checkbox{
    margin-top: 1.2rem;
    label{
        padding-left: 2.25rem;
        position: relative;
        display: flex;
        align-items: center;
        &:before{
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            border: 2px solid $color8;
            left: 0;
            top: 0;
            border-radius: 3px;
        }
        
         
    }
    input{
        display: none;
        &:checked+label{
            &:before{
                background: $black;
                border-color: $black; 
            }
            &:after{
                
                content: "";
                position: absolute;
                width: 4px;
                height: 13px;
                border: 2px solid $white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                top: 2.5px;
                left: 8.5px;

            }
        }
    }
}
.csdropdown_style{  
    label{
        margin-bottom: 5px;
        line-height: normal;
        display: block;
    }
    .cs_search_style{
        flex: 0 0 100%;
        max-width: 100%;
        border:0 none;
        background: transparent;
        font-size: 16px;
        .fstMultipleMode{
            border-radius: 8px;
            border: 1px solid $color1;
            background: $white url(../images/down-arrow.svg) no-repeat right 10px top 25px;
        }
        
    }
    .customSelectBox{
        label{
            font-size: 16px;
        }
    }
    .fstResults{
        .fstResultItem{
            position: relative;
            padding-right: 2rem;
            &:after{
                content: '';
                position: absolute;
                width: 17px;
                height: 17px;
                border-radius: 3px;
                right: 9px;
                top: 11px;
                border: 1px solid $black;  
            }
            &.fstSelected{
                &::before{
                    content: "";
                    width: 11px;
                    height: 4px;
                    border: 1px solid currentColor;
                    border-width: 1px 1px 0 0;
                    position: absolute;
                    transform: rotate(135deg);
                    right: 0.7rem;
                    top: 17px;
                
                }
            }
        }
        
    }
    
    .custom-dropdown{
        height: 48px;
        background: $white url(../images/down-arrow.svg) no-repeat right 10px top 20px;

        border: 1px solid $color1;
        border-radius: 8px;
        padding-right: 1.6rem;
        label{
            margin-bottom: 0;
            padding-left: 8px;
            font-size: 16px;
        }
    }
}


.range-slider{
    display: flex;
    position: relative;
    .price-input {
        width: 100%;
        display: flex;
        margin: 15px 0 0;
        gap: 15px;
        justify-content: space-between;
        .field{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 15%;
            span {
                font-size: 12px;
                opacity: 0.7;
            }
            input{
                width: 100%;
                line-height: 45px;
                outline: none;
                font-size: 16px;
                text-align: center;
                border: none;
                background: none;
                border-bottom: 1px solid #999;
                text-align: left;
                -moz-appearance: textfield;
                font-family: inherit;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
        .middel-range {
            width: 100%;
            height: 50px;
        }
    }
}
.slider-mid {
    width: 60%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    .slider{
    height: 6px;
    position: relative;
    background: #fff;
    border-radius: 40px;
    border: 1px solid #ccc;
    }
    .slider .progress{
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 5px;
    background: #70beab;
    }
    .range-input{
    position: relative;
    }
    .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -8px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    }
    input[type="range"]::-webkit-slider-thumb{
    height: 18px;
    width: 18px;
    border-radius: 4px;
    background: #70beab;
    pointer-events: auto;
    -webkit-appearance: none;
    cursor: pointer;
    }
    input[type="range"]:first-child::-webkit-slider-thumb{
        background: #fff;
        border-color: #E4E4DC;
        height: 18px;
        width: 18px;
        margin-left: -5px;
    }
    input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    }
}


.custom-dropdown {
    background: url(../images/down-arrow.svg) no-repeat right 10px top 25px;
    background-size: 12px 12px;
    padding: 0 35px 0 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #c7c6c2;
    cursor: pointer;
    position: relative;
    @include respond(tab) {
        height: 60px;
        border: none;
        border-bottom: 1px solid #c7c6c2;
    }
    label {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #4E4E4E;
        padding-left: 10px;
        cursor: pointer;
    }
    ul {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        border-radius: 0px 0px 8px 8px;
        border: 1px solid #E2E2E2;
        background: #FFF;
        z-index: 2;
        max-height: 300px;
        overflow-y: auto;
        display: none;
        li {
            color: #2B2A28;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all 0.4s ease-in-out;
            text-align: left;
            label {
                display: flex;
                align-items: center;
                padding: 15px 16px;
                margin: 0;
                gap:5px;
                .checkmark {
                    width: 16px;
                    height: 16px;
                    border-radius: 4px;
                    position: relative;
                    &:after {
                        left: 5px;
                        top: 1px;
                    }
                }
            }
            &:hover {
                background: #f8f8f8;
            }
        }
        &.without-label {
            li {
                padding: 15px 16px;
            }
        }
    }
    &.show {
        // background: $white url(../images/down-arrow.svg) no-repeat right 10px top 25px;
        ul {
            display: inline;
        }
    }
}


.left-side-bar-filters{
    input[type="range"]::-webkit-slider-thumb{
        height: 28px;
        width: 28px;
    }
    input[type="range"]:first-child::-webkit-slider-thumb{
        height: 28px;
        width: 28px;
    }
}