.banner-section{
    position: relative;
    .banner-img{
        img{
            width: 100%;
            height: auto;
            @include respond(tab) {
                height: 225px;
                object-fit: cover;
            }
        }
    }
    .right-box{
        width: 88px;
        height: 88px;
        background: rgba(228, 228, 220, 0.8);
        position: absolute;
        top: 0px;
        right: 0px;
        @include respond(tab_land) {
            width: 68px;
            height: 68px;
        }
        @include respond(tab) {
            width: 49px;
            height: 49px;
        }
    }
    .right-content-box{
        background: rgba(228, 228, 220, 0.8);
        position: absolute;
        top: 88px;
        right:88px;
        padding: 65px 46px;
        @include respond(desk) {
            padding: 35px;
        }
        @include respond(tab_land) {
            top: 68px;
            right: 68px;
            padding: 35px 36px;
        }
        @include respond(tab) {
            padding: 15px 30px;
        }
        @include respond(tab) {
            padding: 12px 18px;
            top: 40px;
            right:49px;
        }

        h2{
            font-size: $font41;
            color: #2B2A28;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include respond(tab_land) {
                font-size: calc($font41 - 15px);
            }
            @include respond(tab) {
                font-size: 21px; 
                max-width: 200px;        
            }
        }
        p{
            font-size: $font24;
            color: $bannerTextColor;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include respond(tab_land) {
                font-size: calc($font24 - 5px);
            }
            @include respond(tab) {
                font-size: calc($font14);
            }
        }
    }
    .container {
        position: relative;
    }
    @include respond(tab_land) {
        .container{
            @include respond(tab_land) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
.global-search{
     position: relative;
     z-index: 1;
}
.search-section{
    background: $bannerBoxColor;
    padding:16px;
    margin-top: -150px;
    z-index: 2;
    border-radius: 16px;
    border: 1px solid #E4E4DC;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
    position: absolute;
    left: 0;
    right: 0;
    @include respond(tab_land) {
        max-width: unset;
        margin-left: 15px;
        margin-right: 15px;
        margin-top:-70px;
    }
    @include respond(tab) {
        margin:15px;
        position: static;
        padding: 16px;
        margin: -55px 0 0 0;
    }
    h3{
        font-size: $font22;
        font-weight: 500;
        line-height: 33px;
        color: #1C190E;
        @include respond(tab) {
            text-align: center;
        }
    }
    .form-section{
        .form-sec {
            display: flex;
            width: 100%;
            @include respond(tab) {
                display: block;
                text-align: center;
                background: #E4E4DC;
            }
        }
        .form-raper {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border: 1px solid #c7c6c2;
            height: 60px;
            padding: 0;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            flex: 1;
            background: #edede8;
            display: flex;
            @include respond(tab) {
                margin-bottom: 10px;
            }
            @include respond(tab) {
                border-radius: 0px 8px 8px 8px;
                height: auto;
                padding: 0;
                width: 100%;
                text-align: center;
                flex-direction: column;
                overflow: hidden;
            }  
        }
        button{
            padding: 0 34px;
            height: 61px;
            color: $white;
            background: $black;
            font-size: $font18;
            font-weight: 500;
            border-radius: 0px 8px 8px 0px;
            border: none;
            text-transform: uppercase;
            transition: all 0.4s ease-in-out;
            &:hover {
                background: rgba($color: #000000, $alpha: 1.0);
            }
            @include respond(tab) {
                font-size: 1rem;
                width: 100%;
                margin-bottom: 10px;
                height: 48px;
                padding: 0 15px;
                border-radius: 8px;
           }  
        }

    }
    .filter-section{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .advanced-filters {
            display: flex;
            gap: 10px;
            background: none;
            border: none;
            padding: 13px;
            cursor: pointer;
            position: relative;
            font-size: 18px;
            font-weight: 500;
            align-items: center;
            text-transform: uppercase;
            color: #2B2A28;
            @include respond(tab) {
                font-size: 14px;
                width: 100%;
                justify-content: center;
                padding: 0;
            }
            img{
                width: 16px;
                height: 16px;
            }
            .drop-dw {
                width: 30px;
                height: 30px;
                position: absolute;
                right: -25px;
                top: 8px;
                @include respond(tab) {
                    position: unset;
                    margin-left: -10px;
                }
            }
            &.rotate {
                .drop-dw {
                    transform: rotate(180deg); 
                }
            }
        }
        .advanced-filters-box {
            height: 0;
            width: 100%;
            overflow: hidden;
            &.view {
                height: auto;
                padding: 20px;
                padding-top: 35px;
                overflow: visible;
            }
        }
        .form-view {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 36px;
            @include respond(tab) {
               display: block;
            }
            .form-cols { width: 48%;
                display: flex;
                flex-direction: column;
                @include respond(tab) {
                    margin-bottom: 10px;
                    width: 100%;
                 }
                label {
                    color: #2B2A28;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-top: 0px;
                    margin-bottom: 5px;
                    &.properties-view {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-top: 15px;
                    }
                }
                .form-ctrl {
                    background: #fff;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    height: 52px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #2B2A28;
                    padding: 0 10px;
                    appearance: none;
                    box-sizing: border-box;
                    &.dropdown {
                        background:#fff url(../images/arrow_bottom_down.png) no-repeat right 10px top 13px;
                        background-size: 25px 25px !important;
                    }
                    &.search {
                        padding-left: 45px;
                        background:#fff url(../images/search_icon.png) no-repeat left 10px top 15px;
                        background-size: 25px 25px !important;
                    }
                }
            }
        }
        @include respond(tab) {
            background: #E4E4DC;
        }
    }
}

.tab-list {
    display: flex;
    align-items: flex-start;
    margin-left: 16px;
    @include respond(tab) {
        margin-left: 0;
    }
    a {
        display: flex;
        height: 45px;
        padding: 0 18px;
        color: #1C190E;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border-radius: 8px 8px 0px 0px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &.active {
            background: #F1F1EE;
        }
        @include respond(tab) {
            padding: 12px;
            gap: 4px;
            font-size: 14px;
            height: auto;
        }
    }
}

.tabContent {display: none;}

.advance-search {
    border-radius: 16px;
    background: #F1F1EE;
    padding: 16px;
    padding-bottom: 0;
    @include respond(tab) {
        border-radius: 0;
        padding: 0;
    }
}

.form-cols-out {
    width: 20%;
    &.search {width: 38%;}
    @include respond(tab) {
        width: 100%;
        &.search {width: 100%;}
    }
    .form-control {
        border: none;
        border-right: 1px solid #c7c6c2;
        height: 60px;
        padding: 0;
        appearance: none;
        color: #4E4E4E;
        font-size: 18px;
        font-weight: 400;
        @include respond(tab) {
            border-right: none;
            border-bottom: 1px solid #c7c6c2;
        }
        &::placeholder {
            color: #4E4E4E;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #4E4E4E;
        }
        &::-ms-input-placeholder { 
            color: #4E4E4E;
        }
        &:focus-visible,
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &.dropdown {
            background: url(../images/arrow_bottom_down.png) no-repeat right 5px top 19px;
            background-size: 25px 25px !important;
            padding: 0 35px 0 10px;
            font-size: 14px;
            box-sizing: border-box;
            width: 100%;
        }
        &.search {
            padding-left: 45px;
            padding-right: 10px;
            background: url(../images/search_icon.png) no-repeat left 10px top 20px;
            background-size: 22px 22px !important;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            box-sizing: border-box;
        }
    }
    &:last-child .form-control.dropdown {
        border-bottom: none;
    }
}



.range-slider{
    display: flex;
    position: relative;
    .price-input {
        width: 100%;
        display: flex;
        margin: 15px 0 0;
        gap: 15px;
        justify-content: space-between;
        .field{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 15%;
            span {
                font-size: 12px;
                opacity: 0.7;
            }
            input{
                width: 100%;
                line-height: 45px;
                outline: none;
                font-size: 16px;
                text-align: center;
                border: none;
                background: none;
                border-bottom: 1px solid #999;
                text-align: left;
                -moz-appearance: textfield;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
        .middel-range {
            width: 100%;
            height: 50px;
        }
    }
}
.slider-mid {
    width: 60%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    .slider{
    height: 7px;
    position: relative;
    background: #fff;
    border-radius: 40px;
    border: 1px solid #ccc;
    }
    .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #70beab;
    }
    .range-input{
    position: relative;
    }
    .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -8px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    }
    input[type="range"]::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    border-radius: 6px;
    background: #70beab;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    }
    input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    }
}


.custom-dropdown {
    background: url(../images/down-arrow.svg) no-repeat right 10px top 25px;
    background-size: 12px 12px !important;
    padding: 0 35px 0 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #c7c6c2;
    cursor: pointer;
    position: relative;
    label {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: #4E4E4E;
        padding-left: 10px;
        cursor: pointer;
    }
    ul {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        border-radius: 0px 0px 8px 8px;
        border: 1px solid #E2E2E2;
        background: #FFF;
        z-index: 2;
        display: none;
        li {
            color: #2B2A28;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all 0.4s ease-in-out;
            label {
                display: flex;
                align-items: center;
                padding: 15px 16px;
                margin: 0;
                gap:5px;
                .checkmark {
                    width: 16px;
                    height: 16px;
                    border-radius: 4px;
                    position: relative;
                    &:after {
                        left: 5px;
                        top: 1px;
                    }
                }
            }
            &:hover {
                background: #f8f8f8;
            }
        }
        &.without-label {
            li {
                padding: 15px 16px;
            }
        }
    }
    &.show {
        background-image: url(../images/up-arrow.svg);
        ul {
            display: inline;
        }
    }
}
