.all-units-wrapper.buying_section.two-column {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  @include respond(tab) {
    flex-direction: column-reverse;
    padding-top: 24px;
    gap: 24px;
  }
  .all-units-section {
    flex: 1;
    .all-units-cards-wrap.cs_row {
      .cs_col {
        flex: 0 0 50%;
        max-width: 50%;
        &.servies-owner {
          flex: 0 0 33.33%;
          max-width: 33.33%;
          @include respond(phone) {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
        @include respond(phone) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
    .search-result-pagination {
      margin: 30px 0 0;
    }
  }
  .right-section {
    width: 370px;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 20px;
    border-radius: 16px;
    background: $bannerBoxColor;
    height: max-content;
    @include respond(tab) {
      background: transparent;
      padding: 0 0 15px;
      width: 100%;
      flex-direction: row;
      overflow-x: scroll;
    }
    h2 {
      color: $color2;
      font-size: $font18;
      font-style: normal;
      font-weight: $fontweight2;
      font-family: $fontmedium;
      line-height: normal;
      @include respond(tab) {
        display: none;
      }
    }
    .right-area-box {
      display: flex;
      padding: 8px 16px 8px 8px;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      border-radius: 16px;
      border: 1px solid $bannerBoxColor;
      background: $white;
      .card-details-outer h3{
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      p{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      @include respond(tab) {
        flex-direction: column;
        padding: 0;
        min-width: 172px;
        border: none;
        border-radius: 12px;
        box-shadow: 0px 2px 26px 0px rgba(0, 0, 0, 0.1);
        gap: 10px;
      }
      figure {
        width: 107px;
        height: 99px;
        flex-shrink: 0;
        @include respond(tab) {
          width: 100%;
          height: auto;
        }
        img {
          width: 100%;
          max-height: 99px;
          @include respond(tab) {
            max-height: none;
          }
        }
        a{
          display: block;
          @media  all and (min-width:1200px) {
            img{
              height: 99px;
              display: block;
              object-fit: cover;
            }
          }
        }
      }
      .card-details-outer {
        display: flex;
        gap: 6px;
        flex-direction: column;
        @include respond(tab) {
          padding: 0 9px 18px;
        }
        h3 {
          font-size: $font18;
          font-style: normal;
          font-weight: $fontweight2;
          font-family: $fontmedium;
          line-height: 25px;
          @include respond(tab) {
            font-size: $font12;
            font-weight: $fontweight3;
            line-height: normal;
          }
          a {
            color: $black;
          }
        }
        p {
          color: $black;
          font-size: $font16;
          font-style: normal;
          font-weight: $fontweight5;
          line-height: normal;
          margin: 0;
          @include respond(tab) {
            font-size: 10px;
            line-height: normal;
            font-weight: $fontweight5;
          }
        }
      }
    }
  }
  &.inner-blog {
    .right-section {
      width: 281px;
      padding-right: 24px;
      padding-left: 0;
      background: none;
      border-radius: unset;
      border-right: 1px solid $logoName;
      height: auto;
      figure {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        span {
          position: relative;
          display: block;
          overflow: hidden;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          &:before {
            padding-top: 50%;
            content: "";
            display: block;
          }
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        figcaption {
          display: flex;
          flex-direction: column;
          gap: 2px;
          h2 {
            color: $darkBlack;
            text-align: left;
            font-size: $font16;
            font-style: normal;
            font-weight: $fontweight5;
            line-height: 24px;
            border-bottom: 2px solid $Primary;
            padding-bottom: 2px;
            strong {
              font-weight: $fontweight2;
              font-family: $fontmedium;
            }
          }
          p {
            color: $darkBlack;
            text-align: left;
            font-size: $font16;
            font-style: normal;
            font-weight: $fontweight5;
            line-height: 24px;
            strong {
              font-weight: $fontweight2;
              font-family: $fontmedium;
            }
          }
        }
      }
    }
    .all-units-section {
      p {
        color: $black;
        font-size: $font16;
        font-style: normal;
        font-weight: $fontweight5;
        line-height: 25px;
        opacity: 0.7;
        margin: 0;
        &:not(:last-child) {
          margin-bottom: 21px;
        }
      }
    }
    @include respond(tab) {
      flex-direction: row-reverse;
      gap: 0;
      .right-section {
        width: 100%;
        padding: 0;
        border: none;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.mbb-30 {
  margin-bottom: 5rem !important;
  @include respond(tab) {
    margin-bottom: 3rem !important;
  }
}

@include respond(tab) {
  .all-units-wrapper.buying_section.press-kit {
    margin-top: 0;
    border: none;
    .all-units-cards-wrap.cs_row {
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 32px !important;
      .cs_col {
        max-width: 100% !important;
        flex: 0 0 100% !important;
      }
    }
  }
  .common-heading .cs_title.cs-title-mob {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }
}

.fitness-challenge {
  margin-top: 32px;
  position: relative;
  img.big-img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
    max-height: 377px;
    @include respond(tab) {
      max-height: fit-content;
    }
  }
  .sm-section {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  &.outer-area {
    border-radius: 16px;
    border: 1px solid $bannerBoxColor;
    background: $bannerBoxColor;
    padding: 16px;
    @include respond(tab) {
      padding: 10px;
      margin-top: 20px;
    }
  }
  &.d-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    @include respond(tab) {
      gap: 16px;
    }
    .left-img {
      width: 47%;
      overflow: hidden;
      @include respond(tab) {
        width: 100%;
      }
    }
    .right-detail {
      display: flex;
      flex-direction: column;
      flex: 1;
      h2 {
        color: $black;
        font-size: $font28;
        font-style: normal;
        font-weight: $fontweight2;
        font-family: $fontmedium;
        line-height: 36px;
        margin-bottom: 6px;
        @include respond(tab) {
          font-size: 22px;
          line-height: normal;
        }
        @include respond(phone) {
          font-size: 18px;
        }
      }
      p {
        color: $black;
        font-size: $font16;
        font-style: normal;
        font-weight: $fontweight5;
        line-height: 25px;
        opacity: 0.7;
        @include respond(tab) {
          margin-bottom: 15px;
        }
        @include respond(phone) {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: break-spaces;
          margin-bottom: 16px;
        }
      }
      .bottom-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        @include respond(phone) {
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
        }
        span {
          border-radius: 8px;
          background: $white;
          padding: 8px;
          color: $black;
          font-size: $font16;
          font-style: normal;
          font-weight: $fontweight2;
          font-family: $fontmedium;
          line-height: normal;
        }
        a {
          color: $black;
          font-size: $font16;
          font-style: normal;
          font-weight: $fontweight2;
          font-family: $fontmedium;
          line-height: 24px;
          display: flex;
          gap: 8px;
          align-items: center;
          @include respond(phone) {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

.sm-list-view {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  .fitness-challenge.outer-area {
    background: none;
    margin: 0;
    gap: 16px;
    align-items: normal;
    @include respond(phone) {
      flex-direction: column;
    }
    .left-img {
      width: 200px;
      height: auto;
      @include respond(phone) {
        width: 100%;
      }
    }
    .right-detail {
      h2 {
        font-size: $font18;
        line-height: 25px;
      }
      p {
        @include respond(phone) {
          -webkit-line-clamp: 3;
        }
      }
      .bottom-area {
        span {
          background: $bannerBoxColor;
        }
        @include respond(phone) {
          a {
            border-top: 1px solid #e4e4dc;
            padding-top: 16px;
          }
        }
      }
    }
  }
}

.gallery-section {
  margin-top: 32px;
  margin-bottom: 53px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  @include respond(tab) {
    margin-bottom: 20px;
  }
  .fitness-challenge {
    margin-top: 0;
    @include respond(tab) {
      height: 221px;
    }
    &.sm-box {
      flex: 49%;
      @include respond(tab) {
        flex: 47%;
        height: auto;
      }
    }
  }
}

.common-heading {
  @include respond(tab) {
    margin-top: 19px;
    .cs_title {
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      line-height: normal;
    }
  }
  .sm-section {
    display: flex;
    gap: 4px;
    margin-top: 5px;
    img {
      float: left;
    }
  }
}

.loadmore-button {
  text-decoration: none;
  border-radius: 8px;
  background-color: $Primary;
  font-weight: $fontweight2;
  font-family: $fontmedium;
  font-size: $font20;
  text-align: center;
  color: $white;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  margin: auto;
  @include respond(tab) {
    height: 42px;
    font-size: 14px;
  }
  &:hover {
    background-color: $color13;
    border-color: $color14;
  }
}

.press-kit {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  border-radius: 16px;
  border: 1px solid $bannerBoxColor;
  @include respond(tab) {
    margin-top: 24px;
  }
  .common-heading {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $bannerBoxColor;
    padding-bottom: 12px;
    @include respond(tab) {
      flex-direction: column;
      gap: 12px;
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &.no-padding {
      padding: 0;
      border: none;
      a {
        background: $black;
        color: $white;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: $color13;
          border-color: $color14;
        }
      }
    }
    .cs_title {
      font-size: $font20;
      margin-bottom: 4px;
    }
    a {
      display: flex;
      padding: 16px 18px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      background: $bannerBoxColor;
      color: $Primary;
      text-align: center;
      font-size: $font16;
      font-style: normal;
      font-weight: $fontweight2;
      font-family: $fontmedium;
      line-height: normal;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: $color13;
        color: $white;
      }
      @include respond(tab) {
        background: $black;
        color: $white;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: $color13;
          border-color: $color14;
        }
      }
    }
  }
  .all-units-wrapper {
    padding: 0 0 8px;
    border: none;
    margin: 0;
    .cs_col {
      flex: 0 0 25% !important;
      max-width: 25% !important;
      .cs_ratio {
        &:before {
          padding-top: 75%;
        }
        .feature-image {
          height: auto;
          max-height: 170px;
        }
      }
      figcaption {
        height: 67px;
      }
      .view-details-wrap {
        img {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.common-heading.news-press {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include respond(tab) {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
  .form-section {
    @include respond(tab) {
      width: 100%;
    }
    .form-view {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: 16px;
      .form-cols {
        flex: 1;
        display: flex;
        .form-ctrl {
          background: #fff;
          border-radius: 8px;
          border: 1px solid #ccc;
          height: 52px;
          font-size: 14px;
          font-weight: $fontweight4;
          font-family: $fontmedium;
          color: #2b2a28;
          padding: 0 45px 0 18px;
          appearance: none;
          box-sizing: border-box;
          flex: 1;
          &.dropdown {
            background: #fff url(../images/arrow_bottom_down.png) no-repeat
              right 10px top 13px;
            background-size: 25px 25px;
          }
          &.search {
            padding-left: 45px;
            background: #fff url(../images/search_icon.png) no-repeat left 10px
              top 15px;
            background-size: 25px 25px;
          }
        }
        &.date {
          min-width: 105px;
        }
        &.month {
          min-width: 114px;
        }
        &.year {
          min-width: 117px;
        }
      }
    }
  }
}

@include respond(tab) {
  .blogs-video-view {
    .content-div .img-div {
      width: 48%;
      margin: 0;
    }
  }
}

@include respond(phone) {
  .blogs-video-view {
    .common-heading.video-view .subscribeBtn-div.video {
      width: auto;
      .subscribe-first {
        display: none;
      }
      .subscribe-btn a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .content-div .img-div {
      width: 100%;
      margin: 0;
    }
  }
}
