$logoName: #8D8D87;
$Primary:#1C190E;
$headerBorder: #DCCCC0;
$bannerBoxColor: #E4E4DC;
$bannerTextColor: #585754;
$black : #2B2A28;
$darkBlack : #000;
$white: #FFFFFF;
$color1:#E4E4DC;
$color2:#1C1C1E;
$color3: #3A3A3C;
$color4: #EFEFEF;
$color5: #A85B57;
$color6: #c6c7c3;
$color7: #8E8E93;
$color8: #A79F92;
$color9:#8c8d87;
$color10: #EDEDE8;
$color11: #6b6a69;
$color12: #61605F;
$color13: #575757;
$color14: #2f2e2e;
$color12:#f5f5f5;
$green:#4BB543;
$color15:#c7c6c2;
$color16:#4E4E4E;

$pastelGreen: #8BB8AA;
$steelBlue:#5872A7;