$logoName: #8D8D87;
$Primary:#1C190E;
$headerBorder: #DCCCC0;
$bannerBoxColor: #E4E4DC;
$bannerTextColor: #585754;
$black : #2B2A28;
$darkBlack : #000;
$white: #FFFFFF;
$color1:#E4E4DC;
$color2:#1C1C1E;
$color3: #3A3A3C;
$color4: #EFEFEF;