.faq-title {
  font-size: $font30;
  color: $black;
  margin: 30px 0 0;
  font-weight: $fontweight2;
  font-family: $fontmedium;
  @include respond(phone_land) {
    font-size: $font20;
    margin-bottom: 20px;
  }
}
.faq-page-wrapper {
  padding: 0 0 100px;
  .accordion-content {
    display: none;
    padding: 20px 10px 10px 35px;
    transition: left 0.3s ease-in-out;
    p {
      font-weight: $fontweight2;
      font-family: $fontmedium;
      font-size: $font16;
      color: $black;
      line-height: 24px;
      margin-bottom: 16px;
      p:last-child{
        margin: 0;
      }
      a {
        color: $black;
        text-decoration: underline;  
      }
    }
    &.active {
      display: block;
    }
  }
  .accordion-item {
    padding: 16px;
    cursor: pointer;
    border: 1px solid #efefef;
    border-radius: 10px;
    margin-bottom: 15px;
    .accordion-header {
      margin: 0;
    }
    h4 {
      color: $black;
      opacity: 0.7;
      font-size: $font16;
      padding-left: 35px;
      background: url(../../../assets/images/icon-plus.svg) no-repeat left
        center;
      &.active {
        background: url(../../../assets/images/icon-minus.svg) no-repeat left
          center;
      }
    }
  }
}



.faqstyle_ad{
  .accordion-item{
    .accordion-content { 
      p{
        line-height: 1.6;
        margin-bottom: 1rem;
      }
      h2,h3{
        font-size: 22px; 
        font-family:$fontmedium;
      }
      h4,h5{
        font-size: 18px; 
        font-family: $fontmedium;
      }
      a{
        color: $headerBorder ;  
        text-decoration: underline;
      }
      ul,ol{
        padding-left: 1.5rem;
        list-style-type: disc;  
        margin-bottom: 1rem; 
        li{
          margin-bottom: 0.5rem;  
          line-height: 1.5;
        }
      }
      ol{
        list-style-type:decimal; 
      }
    }
  }
}