.floating-button-wrap{
   position: fixed;
   right: 5vw;
   bottom: 5vh;
   z-index: 2;
     ul{
        display: flex;
        align-items: center;
        gap: 6px;
        li{
            a{
                 display: block;
                 height: 52px;
                 width: 52px;
                 border-radius: 12px;
                 text-align: center;
                 line-height: 52px;
                 box-shadow: 0px 4px 14px 0px #00000021;
                 &.whatsapp{
                    background-color:#29A71A;
                 }
                 &.emoji{
                    background: #2B2A28;
                 }
                 &.reply{
                    background: linear-gradient(0deg, #E4E4DC, #E4E4DC),
                    linear-gradient(0deg, #DDDDD3, #DDDDD3);
                    border: 1px solid #DDDDD3;
                }
                 img{
                     vertical-align: middle;
                     max-width: 28px;
                     height: auto;
                 }
            }
        }
     }
}