$font9: 0.563em;
$font12: 0.75em;
$font13: 0.8125em;
$font14: 0.875em;
$font15: 0.938em;
$font18 : 1.125em;
$font19: 1.188em;
$font20: 1.25em;
$font16 : 1em;
$font21 : 1.313em;
$font22 : 1.375em;
$font24 : 1.5em;
$font27: 1.6875em;
$font30: 1.875em;
$font31: 1.938em;
$font32: 2em;
$font34 : 2.125em;
$font41: 2.563em;
$font44 : 2.75em;


// Font Weights

$fontweight1 : 300;
$fontweight5 : 400;
$fontweight2 : 500;
$fontweight4 : 600;
$fontweight3 : 700;

