footer{
    background: #E4E4DC;
    .footer-section{
        padding: 18px 0px 25px;
         @include respond(tab){
            text-align: center;
         }
        .footer-border-wrap{
            border-bottom: 1px solid #BC8A553D;
        }
        .right-section{
            .form-section{
                position: relative;
               input{
                 padding:6px 12px 6px 12px;
                 border:none;
                 border-radius: 4px;
                 background: #FFFFFF80;
                 font-size: 12px;
                 height:26px;
                 width:218px;
                 color: #555555;
                 padding-right: 75px;
                 @include respond(tab) {
                    width: 100%;
                    padding-right: 0;
                    box-sizing: border-box;
                    height: 37px;
                 }
               }   
               button{
                background: #2B2A28;
                 height:37px;
                 font-size: 12px;
                 font-weight: 400;
                 color:#fff;
                 border-radius: 0px 4px 4px 0px;
                 text-transform: uppercase;
                 margin-left:-15px;
                 position: absolute;
                 right: 0;
                 top: 0;
                 padding: 0 11px;
                 border: none;
                 line-height: 39px;
               }
            }
        }
        .footer-below-section{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-around;
            border-bottom: 1px solid #BC8A553D;
             margin:25px 0;
             @include respond(tab_land) {
                margin:25px 0;
            }
             @include respond(tab) {
                display: block;
            }
            @include respond(tab) {
                display: flex;
                flex-wrap: wrap;
                text-align: left;
            }
             .footer-menu{
                flex-basis: calc(100% / 5);
                margin-bottom: 25px;
                gap: 16px;
                @include respond(phone_land) {
                    flex-basis: calc(100% / 2);
                    margin-bottom: 15px;
                }
                h3{
                     text-transform: uppercase;
                     margin-bottom: 25px;
                     font-size: 18px;
                     font-weight: 500;
                     color: #2B2A28;
                     @include respond(tab_land) {
                        font-size:14px;
                    }
                }
                ul{
                    li{
                        margin-bottom: 7px;
                        margin-right: 25px;
                        a{
                            font-size: 16px;
                            line-height: 20px;
                            color: #2B2A28;
                            @include respond(tab_land) {
                                font-size:14px;
                            }
                        }
                    }
                }
             }
        }
        .footer-pages-wrap{
            padding-bottom: 17px;
            border-bottom: 1px solid #BC8A553D;
            @include respond(tab) {
               text-align: left;
            }
            ul{
                @include respond(tab_land) {
                    flex-wrap: wrap;
                    gap: 10px;
                }
                li{
                     margin:0 5px 5px 0;
                     display: inline-block;
                     @include respond(tab_land) {
                        margin:0 5px 5px 0;
                        display: inline-block;
                     }
                     @include respond(tab) {
                        display: block;
                        margin: 0 0 10px;
                     }
                     &:last-child{
                        a{
                            border: none;
                        }
                     }
                    a{
                      font-size: 14px;
                      line-height:16.72px;
                      color:#2B2A28;
                      padding-right:5px;
                      border-right:1px solid #2B2A28;
                      @include respond(tab) {
                        border: none;
                     }
                    }
                }
            }
        }
        .sm-section{
            display: flex;
            gap: 4px;
            padding-top: 17px;
            align-items: center;
            span{
                font-size: $font16;
                color: $black;
                display: inline-block;
                margin-right: 5px;
            }
            @include respond(phone_land) {
                padding: 0 15px 15px;
            }
            a {
                display: flex;
                @include respond(phone_land) {
                    margin-right: 10px;                       
                }
            }
            img{
                width: 25px;
                height: 25px;
                float: left;
            }
        }
    }
    .copyright-section{
        background: $logoName;
        text-align: center;
        p{
            color:$white;
            font-size: $font14;
            padding: 16px 0px;
        }
    }
}