.form {
    width: 100%;
    h2{
        font-weight: $fontweight3;
        font-size: $font30;
        line-height: 35.82px;
        color:$black;
        margin-bottom: 32px;
    }
    .form-radioBtns{
        display: flex;
        margin-left: 0px;
        margin-bottom: 16px;
        gap: 24px;
        input{
            margin: 0px;
        }
        label{
            font-weight: $fontweight5;
            font-size: $font16;
            line-height: 16.2px;
            color: $Primary;
        }
      
        .asterisk{
            color: $color5;
        }

    }
    label {
        color: $black;
        font-size: $font16;
        font-weight: $fontweight5;
        line-height: 19.1px;
    }
    .input-box {
        position: relative;
        margin: 10px 0 16px 0;
        display: flex;
            input{
                position: relative;
                border: 1px solid $color6;
                border-radius: 8px;
                height: 57px;
                padding: 0px 45px;
                width: 100%;     
            }
            input::placeholder{
                font-weight: $fontweight5;
                font-size: $font16;
                line-height: 19.1px;
                color:$black;
            }
            .left-icon{
                position: absolute;
                left: 19.69px;
                top: 19.68px;
               
            }
            .right-icon{
                position: absolute;
                right: 10px;
                top: 19.68px;
            }
    }
    .form-dropdown{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        select{
            border: 1px solid $color6;
            border-radius: 8px;
            height: 57px;
            width: 100%;  
            padding-left: 18px;
            padding-right: 25px;
            background-color: $white;
            appearance: none;
            position: relative;
            font-weight: $fontweight5;
            font-size: $font16;
            line-height: 19.1px;
            color: $black;
            &.dropdown{
                background:$white url(../images/arrow_bottom_down.png) no-repeat right 10px top 13px;
                background-size: 25px 25px !important;
                color: $color3 !important;
            }
        }
        .asterisk{
            color: $color5;
        }
    }
    .fp-box {
        margin-bottom: 30px;
        text-align: right;

        ul{
            display: flex;
            justify-content: end;
            gap: 8px;
            li{
                     a{
                        font-weight: $fontweight5;
                        font-size: $font16;
                        line-height: 19.1px;
                        color:$black;
                        text-align: right;
                    }
                
            }
        }
    }
    .form-btns {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 18px;

        a {
            text-decoration: none;
            border-radius: 8px;
            background-color:$Primary;
            height: 54px;
            font-weight: $fontweight2;
            font-size: $font16;
            line-height: 19.1px;
            text-align: center;
            color: $white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 10px;
        }

        .bg-white {
            background-color: $white;
            color: $black;
            border: 1px solid $black;
        }
        .login-otp{
            background-color: $color1;
            color: $black;
        }
    }
}


// newForm for regestration pages..

.newForm{
    width: 100%;
    .newForm-heading{
        font-weight: $fontweight3;
        font-size: $font30;
        line-height: 35.82px;
        color: $black;
        margin-bottom: 19px;
    }
    .form-check{
        margin-bottom: 39px;
        display: flex;
        input[type="checkbox"]{
            accent-color: $darkBlack;
            width: 22.75px;
            height: 22.75px;
        }
        label {
            font-weight: $fontweight5;
            font-size: $font16;
            line-height: 22.4px;
            color: $black;
            margin-left: 9.82px;
            span{
                display: block;
                font-weight: $fontweight5;
                font-size: $font16;
                line-height: 22.4px;
                color: $logoName;
                     }
     
        }

    }
    .newForm-inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        .newForm-innerBox{
            display: flex;
            flex-direction: column;
            width: 48%;
            label{
                margin-bottom: 10px;
                .asterstrik{
                    color: $color5;
                }
            }
            .newForm-radios{
                margin-bottom: 7px;
                margin-left: 0px;
                input[type="radio"]{
                    accent-color: $darkBlack;
                }
                label{
                    font-weight: $fontweight5;
                    font-size: $font16;
                    line-height: 19.2px;
                    color:$Primary;
                    margin-right: 24px;
                    margin-left: 4px;
                    .asterstrik{
                        color: $color5;
                    }
                }
              
                
            }
            .normal-newInput{
                border: 1px solid $color6;
                border-radius: 8px;
                height: 55px;
                padding: 0px 18px;
            }
            .normal-newInput::placeholder{
                font-weight: $fontweight5;
                font-size: $font16;
                line-height: 19.1px;
                color: $black;
            }
            &.select-box{
                select{
                    background-color: $white; 
                    appearance: none;
                    font-weight: $fontweight5;
                    font-size: $font16;
                    line-height: 19.1px;
                    color: $black;
                    &.select-normalInput{               
                        background: url(../images/arrow_bottom_down.png) no-repeat right 10px top 13px;
                        color: $color3;
                        background-size: 25px 25px;
                    }
                }
            }
           
        }
    }
    .agree-check{
        display: flex;
        align-items: center;
        input[type="checkbox"]{
            accent-color: $darkBlack;
            width: 18px;
            height: 18px;
            border: 1.8px solid $logoName;
            border-radius: 2px;
        }
        label{
            font-weight: $fontweight5;
            font-size: $font16;
            line-height: 19.1px;
            color: $black;
            margin-top: 5px;
            margin-left: 4px;
    
            a{
                font-weight: $fontweight2;
                color: $black;
                border-bottom: 1px solid $black;
            }
           
        }
    }
    .newForm-btns{
        display: flex;
        flex-direction: column;
        gap: 19px;
        margin-top: 19px;
        a{
            text-decoration: none;
            border-radius: 8px;
            background-color:#1C190E;
            height: 54px;
            font-weight: $fontweight2;
            font-size: $font16;
            line-height: 19.1px;
            text-align: center;
            color: $white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 10px;
        }
        .bg-white {
            background-color: $white;
            color: $black;
            border: 1px solid $black;
        }
        .or-text{
            width: 100%; 
            text-align: center; 
            border-bottom: 1px solid $color4; 
            line-height: 0.1em;
            font-family: 'Poppins';
            font-weight: $fontweight5;
            font-size: $font13;
            color: $color7;
            span{
                background: $white; 
                padding:0 20px; 
            }
        }
    }
}