
.forgot-page{
    padding-top: 98px;
    padding-bottom: 119px;
    .main-login{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-section{
            position: relative;
            &::before{
            position: absolute;
            left: -64px;
            top: -64px;
            content: "";
            height: 241px;
            width: 301px;
            background-color: #EDEDE8;
            border-radius: 16px;
            z-index: -1;
            }
            &::after{
                position: absolute;
                content: "";
                left: -40px;
                top:350px;
                height: 164px;
                width: 154px;
                background-color: #EDEDE8;
                border-radius: 16px;
                z-index: -1;
                }
            .img-box{
                width:556px;
                height: 434px;
                border-radius: 16px;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        .right-section{
            width: 397px;
            h1{
                font-weight: 700;
                font-size: 30px;
                line-height: 35.82px;
                color:#2B2A28;
            }
            .oneTime-p{
                margin-top: 6px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color:#2B2A28;
            }
            .userId-div{
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                label{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19.1px;
                    color:#2B2A28;
                }
                .userID-inner{
                    position: relative;
                    input{
                        border: 1px solid #8D8D87;
                        border-radius: 8px;
                        padding: 16px 18px;   
                        width: 397px;               
                    }
                    input::placeholder{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19.1px;
                        color:#2B2A28;
                        opacity:70%;
                        padding-left: 30px;
                    }
                    img{
                        position: absolute;
                        left: 19.69px;
                        top: 14.68px;
                    }
                }   
            }
            .or-div{
                margin:16px 0px;
                fieldset.title {
                    border-top: 1px solid #EFEFEF;
                    width: 434px;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    display: block;
                    text-align: center;
                }
                
                fieldset.title legend {
                    padding: 5px 30px;
                    font-weight: 400;
                    font-size: 13px;
                    font-family: 'Poppins';
                    line-height: 19.05px;
                    text-align: center;
                    color: #8E8E93;
                }
            }
            .mobileNumber-div{
                display: flex;
                flex-direction: column;
                gap: 10px;
                label{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19.1px;
                    color:#2B2A28;
                }
                .password-inner{
                    position: relative;
                    input{
                        border: 1px solid #8D8D87;
                        border-radius: 8px;
                        padding: 16px 18px;   
                        width: 397px;               
                    }
                    input::placeholder{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19.1px;
                        color:#2B2A28;
                        opacity:70%;
                        padding-left: 30px;
                    }
                    img{
                        position: absolute;
                        left: 19.69px;
                        top: 14.68px;
                    }
                }
            }
            .forgotPassword-div{
                margin-top: 18px;
                text-align: right;
                width: 434px;
                ul{
                    display: flex;
                    justify-content: end;
                    gap: 8px;
                    li{
                             a{
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19.1px;
                                color:#2B2A28;
                                text-align: right;
                            }                        
                    }
                }
            }
            .loginBtns-div{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                width: 434px;
                gap: 10px;
                .signIn-btn{
                    border-radius: 8px;
                    background-color:#1C190E;
                    padding: 16px 18px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19.1px;
                    text-align: center;
                    color:#ffffff;
                }
                    
            }
        }
    }
}