@font-face {
    font-family: 'bliss_proregular';
    src: url('../blisspro-fonts/blisspro-webfont.woff2') format('woff2'),
         url('../blisspro-fonts/blisspro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    @include respond(desk) {
        padding:0 15px;
    }
}

a { text-decoration: none;}
button{    
    cursor: pointer;
}

.button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0 16px;
    a {
        background: #2B2A28;
        color: #FFFFFF;
        font-size: 1em;
        border-radius: 8px;
        padding: 13px 35px;
        text-decoration: none;
        font-weight: 500;
        transition: all 0.4s ease-in-out;
        &:hover {
            background: rgba($color: #000000, $alpha: 1.0);
        }
    }
}


.inline-view {
    display: flex;
    gap: 30px;
    align-items: center;
    .radio {
        margin: 0;
    }
}

/* The check-box */
.check-box, .radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // margin: 0 !important;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark, .radiomark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid #000;
        border-radius: 6px;
    }
    &.sm-radio {
        padding-left: 25px;
        .radiomark {
            height: 16px;
            width: 16px;
        }
    }
    .radiomark {
        border-radius: 50px;
    }
    // &:hover input ~ .checkmark, &:hover input ~ .radiomark {
    //     background-color: #ccc;
    // }
    input:checked ~ .checkmark {
        background-color: #2B2A28;
    }
    input:checked ~ .radiomark {
        border-color: #2B2A28;
    }
    .checkmark:after, .radiomark:after {
        content: "";
        position: absolute;
        display: none;
    }
    input:checked ~ .checkmark:after, input:checked ~ .radiomark:after {
        display: block;
    }
    .checkmark:after, .radiomark:after {
        left: 7px;
        top: 3px;
        width: 3px;
        height: 9px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .radiomark:after {
        border: none;
        width: 12px;
        height: 12px;
        background: #000;
        border-radius: 50px;
        left: 4px;
        top: 4px;
    }
    &.sm-radio {
        .radiomark:after {
            border: none;
            width: 8px;
            height: 8px;
            background: #000;
            border-radius: 50px;
            left: 4px;
            top: 4px;
        }
    }
    &.new-checkbox {
        margin-bottom: 39px;
        @include respond(tab) {
            margin-bottom: 24px;
        }
        samp {
            color: #8D8D87;
            line-height: 24px;
            strong {
                font-weight: 500;
                display: block;
                color: #1C190E;
            }
        }
    }
    &.radio-box-view {
        border-radius: 16px;
        border: 1.5px solid #8BB8AA;
        background: #E4E4DC;
        padding: 24px 26px 24px 70px;
        margin-bottom: 0;
        samp {
            display: flex;
            flex-direction: column;
            gap: 10px;
            span {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                color: #1C190E !important;
                strong {
                    font-weight: 600;
                }
            }
        }
        span.radiomark {
            margin: auto 0 auto 26px;
            top: 0;
            bottom: 0;
            border-color: #000;
        }
    }
}