$fontmedium: "bliss_medium";
$fontregular: "bliss_proregular";
$fontlight: "bliss_light";
@font-face {
  font-family: "bliss_proregular";
  src: url("../blisspro-fonts/blisspro-webfont.woff2") format("woff2"),
    url("../blisspro-fonts/blisspro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bliss_medium";
  src: url("../blisspro-fonts/BlissPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "bliss_light";
  src: url("../blisspro-fonts/BlissPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  @include respond(desk) {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.cs_title {
  font-size: 30px;
  font-weight: 500;
  font-family: $fontmedium;
  line-height: calc(35 / 30);
  @include respond(phone) {
    font-size: 24px;
  }
}
.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 34px 0 16px;
  a {
    background: #2b2a28;
    color: #ffffff;
    font-size: 1em;
    border-radius: 8px;
    padding: 13px 35px;
    text-decoration: none;
    font-weight: 500;
    font-family: $fontmedium;
    transition: all 0.4s ease-in-out;
    &:hover {
      background: rgba($color: #000000, $alpha: 1);
    }
  }
}

.inline-view {
  display: flex;
  gap: 30px;
  align-items: center;
  .radio {
    margin: 0;
  }
}

/* The check-box */
.check-box,
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // margin: 0 !important;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark,
  .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #000;
    border-radius: 6px;
  }
  &.sm-radio {
    padding-left: 25px;
    .radiomark {
      height: 16px;
      width: 16px;
    }
  }
  .radiomark {
    border-radius: 50px;
  }
  // &:hover input ~ .checkmark, &:hover input ~ .radiomark {
  //     background-color: #ccc;
  // }
  input:checked ~ .checkmark {
    background-color: #2b2a28;
  }
  input:checked ~ .radiomark {
    border-color: #2b2a28;
  }
  .checkmark:after,
  .radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after,
  input:checked ~ .radiomark:after {
    display: block;
  }
  .checkmark:after,
  .radiomark:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .radiomark:after {
    border: none;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50px;
    left: 4px;
    top: 4px;
  }
  &.sm-radio {
    .radiomark:after {
      border: none;
      width: 8px;
      height: 8px;
      background: #000;
      border-radius: 50px;
      left: 4px;
      top: 4px;
    }
  }
  &.new-checkbox {
    margin-bottom: 39px;
    @include respond(tab) {
      margin-bottom: 24px;
    }
    samp {
      color: #8d8d87;
      line-height: 24px;
      strong {
        font-weight: 500;
        font-family: $fontmedium;
        display: block;
        color: #1c190e;
      }
    }
  }
  &.radio-box-view {
    border-radius: 16px;
    border: 1.5px solid #8bb8aa;
    background: #e4e4dc;
    padding: 24px 26px 24px 70px;
    margin-bottom: 0;
    samp {
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: #1c190e !important;
        strong {
          font-weight: 600;
          font-family: $fontmedium;
        }
      }
    }
    span.radiomark {
      margin: auto 0 auto 26px;
      top: 0;
      bottom: 0;
      border-color: #000;
    }
  }
}
.ml-1 {
  margin-left: 4px;
}
.link {
  text-decoration: underline;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.common-heading {
  margin: calc(2rem - 2px) 0 0;
  &.video-view {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .cs_title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    small {
      color: $black;
      font-size: 53.3%;
      font-style: normal;
      font-weight: $fontweight2;
      font-family: $fontmedium;
      line-height: normal;
    }
    &.mb-0 {
      margin-bottom: 0;
    }
  }
  p {
    color: $black;
    font-size: $font16;
    font-style: normal;
    font-weight: $fontweight5;
    line-height: 24px;
  }
}

.position-relative {
  position: relative;
}

// ========Card Style=========
.cs_card {
  padding: 24px;
  border: 1px solid $color1;
  border-radius: 16px;
  p {
    margin-bottom: 1rem;
  }
  &.card_bg {
    background: $color1;
  }
  .card_title {
    font-weight: 500;
    font-family: $fontmedium;
    font-size: 24px;
    line-height: normal;
    color: $color27;
    padding-bottom: 12px;
    border-bottom: 1px solid $color4;
  }
  .card_body {
    padding-top: 16px;
  }
  @include respond(phone_land) {
    padding: 16px;
    border-radius: 8px;
    font-size: 14px;
    .card_title {
      font-size: 14px;
      padding-bottom: 10px;
    }
  }
  &.card_dotted {
    border-style: dashed;
  }
}

.box_style_type {
  color: $color3;
  p {
    line-height: calc(26 / 16);
    margin-bottom: 16px;
    & + p {
      margin-bottom: 16px;
    }
  }
  * {
    box-sizing: border-box;
  }
  padding: 24px;
  border: 1px solid $bannerBoxColor;
  border-radius: 16px;
  margin-bottom: 20px;
  .box_title {
    font-weight: 500;
    font-family: $fontmedium;
    font-size: 20px;
    line-height: 23.88px;
    color: $color2;
    padding-bottom: 12px;
    border-bottom: 1px solid $color4;
  }
  .box_body {
    padding-top: 16px;
  }
  .listing {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    margin: 0 -10px;
    list-style-type: none;
    padding: 0;
    line-height: calc(24 / 16);
    li {
      flex: 0 0 25%;
      padding: 0 10px;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
    &.li_4 {
      li {
        flex: 0 0 25%;
      }
      &.c_3 {
        li:nth-child(3n + 3) {
          flex: 0 0 30%;
        }
      }
    }
    &.li_3 {
      li {
        flex: 0 0 33.3%;
        padding: 0 10px;
      }
    }
    @include respond(tab) {
      &,
      &.li_4,
      &.c_3.li_4 {
        li,
        li:nth-child(3n + 3) {
          flex: 0 0 33.3%;
        }
      }
    }
    @include respond(phone_land) {
      &,
      &.li_4,
      &.c_3.li_4 {
        li,
        li:nth-child(3n + 3) {
          flex: 0 0 50%;
        }
      }
    }
    @include respond(phone) {
      &,
      &.li_4,
      &.c_3.li_4 {
        li,
        li:nth-child(3n + 3) {
          flex: 0 0 100%;
        }
      }
    }
  }
  &.only_img {
    padding: 16px;
    img {
      border-radius: 8px;
    }
  }
  @include respond(phone) {
    padding: 16px;
    border-radius: 8px;
    font-size: 14px;
    .box_title {
      font-size: 14px;
      padding-bottom: 10px;
    }
    .listing {
      line-height: 1.1;
      gap: 10px 0;
    }
  }
}
.flex_row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  > div,
  > li {
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
  }
  @include respond(tab) {
    gap: 20px 15px;
    > div,
    > li {
      flex: 0 0 calc(33.3% - 10px);
      max-width: calc(33.3% - 10px);
    }
  }
  @include respond(phone_land) {
    gap: 20px 15px;
    > div,
    > li {
      flex: 0 0 calc(50% - 7.5px);
      max-width: calc(50% - 7.5px);
    }
  }
  @include respond(phone) {
    gap: 15px;
    > div,
    > li {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

// =========Basic Form row===========
.form_row {
  display: flex;
  gap: 25px 48px;
  flex-wrap: wrap;
  > .form_item {
    flex: 0 0 calc(50% - 24px);
    max-width: calc(50% - 24px);
    label {
      margin-bottom: 10px;
      line-height: 1.2;
      display: block;
      > .required {
        color: $color5;
      }
    }
    &.label_false {
      padding-top: 30px;
      @include respond(phone_land) {
        padding-top: 27px;
      }
    }
  }
  @include respond(tab_land) {
    gap: 25px 20px;
    > .form_item {
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
    }
  }
  &.gap_10 {
    gap: 10px;
    > .form_item {
      flex: 0 0 calc(50% - 5px);
      max-width: calc(50% - 5px);
    }
  }
  &.till_lg {
    // gap: 24px;
    @include respond(phone_land) {
      > .form_item {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  @include respond(phone_land) {
    gap: 24px 0;
    > .form_item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

// Custom Model Css
body.modal__active,body.modal_active {
  height: 100vh;
  overflow: hidden;
}
.cs__modal { 
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  img{
    max-width: 100%;
  }
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);
  > .modal__dialog {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    width: 500px;
    margin: 1.75rem auto;
    min-height: calc(100% - 3.5rem);
    transform: translate(0, -50px);
    transition: transform 0.3s ease-out;
    max-width: 95%;
    padding: 0;
    // &.sm__pop {
    //   width: 412px;
    //   .cross__btn {
    //     border: none;
    //     width: 40px;
    //     height: 40px;
    //     background: none;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 0;
    //     position: absolute;
    //     top: -30px;
    //     right: -20px;
    //   }
    //   .btn_modal {
    //     background: $Primary;
    //     color: $white;
    //     font-weight: $fontweight3;
    //     font-family: $fontmedium;
    //   }
    // }
  }
  .modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    padding: 3rem 2.5rem;
    border-radius: 16px;
    @include respond(phone_land) {
      border-radius: 12px;
    }
    position: relative;
    background: $white;
  }
  &.modal_lg {
    .modal__dialog {
      width: 666px; 
   }
  }
  &.modal_xl {
    .modal__dialog {
      width: 1120px;
      .modal_content {
        padding: 40px;
      }
    }
  }
  .modal__body {
    position: relative;
    padding: 0;
    h4 {
      font-size: 22px;
      font-weight: 800;
      margin-bottom: 0.75rem;
    }
    p {
      margin: 0 auto 1.5rem;
      line-height: 20px;
    }
  }
 
  .text-center {
    text-align: center;
  }
 
  .mb-3 {
    margin-bottom: 1rem;
  }
  &.show {
    display: block;
    .modal__dialog {
      transform: translate(0, 0);
    }
  }
  .modal__header {
    position: relative;
    padding: 1.25rem 0 1rem;
    margin-bottom: 1rem;
  }
  .modal__close {
    background: transparent;
    border: 0 none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-content: center;
    z-index: 1;
    background: url(../images/close_btn.svg) no-repeat center center / 24px;
    @include respond(phone_land) {
      right: 12px;
      top: 12px;
    }
  }
  .modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
  }
  @media all and (min-width: 992px) {
    .fz_lg {
      font-size: 18px;
    }
    .fz_lg {
      font-size: 18px;
    }
  }
  .modal__header {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 28px;
      font-weight: 500;
      font-family: $fontmedium;
      @include respond(phone_land) {
        font-size: 22px;
      }
    }
  }  
}


.checkbox_condition {
  label {
    position: relative;
    padding-left: 2rem;
    &:before {
      content: "";
      position: absolute;
      width: 20px; 
      height:18px;
      border: 2px solid $logoName;
      left: 0;
      top: 0px;
      border-radius: 2px;
    }
  }
  input {
    display: none;
    &:checked+ label{
      &:after{
        content: "";
        position: absolute;
        left: 10px;
        top: 2px;
        width: 5px;
        height: 12px;
        border: 2px solid $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
      &::before{
        background: $black; 
        border-color: $black; 
      }
    }
  }
}
