header{
    padding: 10px 0px 5px;
    .header-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        @include respond(tab) {
            padding: 0 15px;
        }
        .right-section{
            @include respond(tab) {
                display: none;
                position: absolute;
                top: 75px;
                padding:15px 0;
                background: #2B2A28;
                width: 100%;
                left: 0;
                z-index: 1;
            }
           
            .right-top-section{
                display: flex;
                gap: 3px;
                align-items: center;
                justify-content: end;
                padding-bottom: 4px;
                @include respond(tab) {
                   display: block;
                }
                .top-nav-section{
                    ul{
                        display: flex;
                        @include respond(tab) {
                            display: block;
                         }
                        li{
                            border-left: 1.5px solid $Primary;
                            padding: 0 12px;
                            @include respond(tab) {
                                padding: 0 15px 15px;
                                color:#fff;
                             }
                            a{
                                color: #1C190E;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                font-style: normal;
                                @include respond(tab) {
                                    color:#fff;
                                 }
                            }
                            &.wasl {
                                a {
                                    span {font-weight: 700;}
                                }
                            }
                            &.language {
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                border-left: none;
                                cursor: pointer;
                                img{
                                    @include respond(tab) {
                                        filter: brightness(0) invert(1);
                                     }
                                 }
                            }
                        }
                    }
                }
                .sm-section{
                    display: flex;
                    gap: 4px;
                    @include respond(tab) {
                        padding: 0 15px 15px;
                    }
                    a {
                        display: flex;
                        @include respond(tab) {
                            margin-right: 10px;                        }
                    }
                    img{
                        width: 25px;
                        height: 25px;
                        float: left;
                    }
                }
            }
        }
        .right-bottom-section{
            nav{
                ul{
                    display: flex;
                    border-top: 2px solid $headerBorder;
                    justify-content: flex-end;
                    @include respond(tab) {
                       display: block;
                    }
                    li{
                        padding: 16px 0;
                        @include respond(tab) {
                           padding: 10px 10px;
                         }
                        a{
                            color: #1C190E;
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                            text-transform: capitalize;
                            padding: 10px 15px;
                            @include respond(tab_land) {
                                padding: 10px 8px;
                            }
                            @include respond(tab) {
                                color: #fff;
                            }
                        }
                        &:last-child a { padding-right: 0;}
                    }
                }
            }
        }
    }
    @include respond(tab) {
        #responsive-nav {
            flex-direction: column-reverse;
        }
    }
    .left-section {
        a {
            display: flex;
            flex-direction: column;
            gap: 5px;
            img {
                width: 114px;
                height: 42px;
                @include respond(tab_land) {
                    width:70px;
                    height: 32px;
                }
            }
        }
        .logo-name{
            color: $logoName;
            font-size: $font15;
            display: inline-block;
            font-style: normal;
            font-weight: 700;
            line-height: 22.841px;
            @include respond(tab_land) {
               font-size: 0.6em;
            }
        }
    }
   
}
@include respond(tab) {
    .mobile-menu{
        span{
            display: block;
            background-color:#2B2A28;
            width: 30px;
            height: 3px;
            margin-bottom: 6px;
        }
    }
}
