.lease-withoutBPNum{
    padding: 45px 0px 233px;
    display: flex;
    justify-content: space-between;

    .withoutBP-imgBox {
        position: relative;
        max-height: 789px;
        height: 100%;
        width:45.26%;
        border-radius: 16px;
        img {
            max-width: calc(84%);
            width: 100%;
            margin-left: 7.2%;
            margin-top: 8.1%;
            margin-bottom: 8.5%;
            margin-right: 8.7%;
            height: auto;
        }
        &::before{
            position: absolute;
            right: 0px;
            top: 0;
            content: "";
            height: 23.70%;
            width: 45%;
            background-color: #EDEDE8;
            border-radius: 16px;
            z-index: -1;
        }
        &::after{
            position: absolute;
            content: "";
            left: 0px;
            bottom: 0px;
            height: 16%;
            width: 32%;
            background-color: #EDEDE8;
            border-radius: 16px;
            z-index: -1;
            @include respond(tab) {
                bottom: 130px;
            }
            @include respond(phone_land) {
                bottom: 0px;
            }
        }

    }
    .withoutBP-formBox{
        width: 52.6%;
       .newForm{
            .newForm-inputs{
                .newForm-innerBox{
                    margin-bottom: 19px;
                    position: relative;
                    .split-text{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        span{
                            font-weight: $fontweight5;
                            font-size: $font12;
                            line-height: 14.4px;
                            color: $color8;
                        }
                        img{
                            width: 13px;
                            height: 13px;
                        }
                    }

                       .extra-reload{
                        border-radius: 8px 13px 13px 8px;
                       }
                    .captch-text{
                        position: absolute;
                        right: 0px !important;
                        top: 27px;
                        background-color: $Primary;
                        color: $white;
                        border-radius: 0px 13px 13px 0px;
                        font-weight: $fontweight5;
                        font-size: $font14;
                        line-height: 16.8px;
                        height: 55px;
                        width: 94.56px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 7.5px;
                        img{
                            width: 21.25px;
                            height: 22.92px;
                        }
                    }
                }
            }
       }

    }
}