.no-search-wrapper{
    padding:35px 0 20px;
    display: flex;
    margin:0 0 20px;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #EDEDED;
    align-items: center;
    span{
        margin:0 0 20px;
        width: 80px;
        height: 80px;
        background-color: #E4E4DC;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 40px;
       }
    }     
    p{
        font-family: $fontmedium;
        font-size: 16px;
        color:#000;
    }
}

.no-search-found-wrap{
    margin: 0 0 100px;
     h3{
        font-family: $fontmedium;
        font-size: 16px;
        color:#000;
        margin:0 0 20px;
     }
}


// search details css
.img-content.map{
     margin-top: 16px;
}