.search-tab-section {
  background: $color1;
  padding: 5px 0 0;
  .tab-links {
    @include respond(phone_land) {
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      flex-direction: row;
      display: flex;
    }
    li {
      display: inline-block;
      border-radius: 8px 8px 0 0;
      &.active {
        background-color: $white;
        font-weight: $fontweight2;
      }
      a {
        color: $black;
        padding: 15px;
        display: block;
        font-size: $font16;
        @include respond(phone_land) {
          font-size: $font12;
        }
      }
    }
  }
}
