.search-banner-section{
     position: relative;
     display: flex;
     overflow: hidden;
     img{
         width: 100%;
         height: auto;
         @include respond(tab) {
            height: 81px;
            object-fit: cover;
        }
     }
     .banner-cont {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        @include respond(tab) {
         padding-top: 5px;
        }

     }
     h2{
        color:$black;
        font-size: $font32;
        font-weight: $fontweight3;
        @include respond(tab_land) {
         font-size: 24px;
        }
     }
     p {
        color:$black;
        font-size: $font16;
        font-weight: $fontweight5;
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            width: 20px;
            height: 20px;
        }
     }
}
