.search-banner-section{
     position: relative;
     img{
         width: 100%;
         height: auto;
     }
     h2{
        position: absolute;
        top:50%;
        color:$black;
        font-size: $font32;
        transform:translateY(-50%);
        font-weight: $fontweight3;
     }
}
