.sign-in-section {
    display: flex;
    justify-content: center;
    padding-top: 98px;
    padding-bottom: 119px;
    .signin-panel {
        max-width: 1140px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include respond(phone_land) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @include respond(desk) {
            justify-content: space-around;
        }
        
        .left {
            padding: 0 10px;
            max-width: 526px;
            width: 100%;
            display: flex;
            justify-content: center;
            @include respond(phone_land) {
                width: 100%;
                max-width: 90% !important;
            }
            @include respond(tab) {
                max-width: 400px;
            }
            .img-box {
                position: relative;
                max-height: 537px;
                width: 100%;
                max-width:526px;
                height: 100%;
                border-radius: 16px;
                img {
                    max-width: calc(84%);
                    width: 100%;
                    margin-left: 7.2%;
                    margin-top: 8.1%;
                    margin-bottom: 8.5%;
                    margin-right: 8.7%;
                    height: auto;
                }
                &::before{
                    position: absolute;
                    right: 0px;
                    top: 0;
                    content: "";
                    height: 37%;
                    width: 44%;
                    background-color: #EDEDE8;
                    border-radius: 16px;
                    z-index: -1;
                }
                &::after{
                    position: absolute;
                    content: "";
                    left: 0px;
                    bottom: 0px;
                    height: 23%;
                    // max-width: 154px;
                    width: 32%;
                    background-color: #EDEDE8;
                    border-radius: 16px;
                    z-index: -1;
                    @include respond(tab) {
                        bottom: 130px;
                    }
                    @include respond(phone_land) {
                        bottom: 0px;
                    }
                }

            }
        }
    
        .right {
            padding: 10px;
            max-width: 397px;
            margin-top: 44px;
            @include respond(tab) {
                max-width: 330px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .signin-form {
                max-width: 397px;
                width: 100%;
                text-align: left;
                color: #6b6a69;
                form {
                    h2{
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 35.82px;
                        color:#2B2A28;
                        margin-bottom: 32px;
                    }
                    label {
                        color: #2B2A28;
                        font-size: 16px;
                        line-height: 19.1px;
                    }
                    .input-box {
                        position: relative;
                        margin: 10px 0 30px 0;
                        display: flex;
                        input{
                            border: 1px solid #c6c7c3;
                            border-radius: 8px;
                            height: 57px;
                            padding-left: 45px;
                            width: 100%; 
                        }
                        input::placeholder{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19.1px;
                        }
                            img{
                                position: absolute;
                                left: 19.69px;
                                top: 19.68px;
                            }
                    }
                    ul{
                        display: flex;
                        justify-content: end;
                        text-align: right;
                        gap: 8px;
                        li{
                            a{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19.1px;
                            color:#2B2A28;
                            text-align: right;
                        }
                        hr{
                            border: none;
                            border-left: 1px solid#8D8D87;
                            height: 15px;
                            margin: 3px 0px;
                        }
                        }
                    }
                    .form-btns {
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        gap: 18px;
                        margin-top: 30px;

                        a {
                            text-decoration: none;
                            border-radius: 8px;
                            background-color:#1C190E;
                            height: 54px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19.1px;
                            text-align: center;
                            color:#ffffff;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            cursor: pointer;
                        }
        
                        .bg-white {
                            background-color: white;
                            color: #2B2A28;
                            outline: 1px solid #2B2A28;
                            
                        }
                    }

                    .signup-link{
                        margin-top: 18px;
                        text-align: center;
                        font-weight: 400;
                        display: block;
                        font-size: 16px;
                        line-height: 24px;
                        color:#2B2A28;
                        strong{
                            margin-left: 5px;
                            a{
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19.1px;   
                                text-decoration: none;
                                color:#2B2A28;
                                border-bottom: 1px solid #2B2A28;
                            }
                        }
                    }
                }
            }
        }
    }
}