.upcoming-projects {
  display: flex;
  margin-top: 189px;
  margin-bottom: 50px;
  align-items: center;
  gap: 51px;
  @include respond(tab_land) {
    gap: 40px;
    margin-top: 240px;
  }
  @include respond(tab) {
    flex-direction: column-reverse;
    overflow: hidden;
    margin-top: 50px;
  }
  @include respond(phone_land) {
    margin-top: 26px;
    gap: unset;
  }
  .left-section {
    display: flex;
    gap: 32px;
    position: relative;
    left: 64px;
    .on-mob {
      display: none;
    }
    @include respond(tab_land) {
      gap: 16px;
    }
    @include respond(tab) {
      margin-left: 0;
      gap: 32px;
      margin-bottom: 0;
      margin-left: 0;
      position: relative;
      // left: 0;
      flex-wrap: wrap;
      .on-mob {
        display: flex;
        flex-basis: 100%;
        position: relative;
        left: -10%;
      }
    }
    &::before {
      position: absolute;
      left: -64px;
      top: -64px;
      content: "";
      height: 241px;
      width: 241px;
      background-color: #edede8;
      border-radius: 16px;
      z-index: -1;
      @include respond(tab_land) {
        height: 201px;
        width: 201px;
      }
      @include respond(phone_land) {
        content: unset;
      }
    }
    @include respond(phone_land) {
      left: 0;
      margin-bottom: 0;
      gap: 18px;
      .on-mob {
        left: unset;
      }
    }
    .img-box {
      width: 269px;
      @include respond(tab_land) {
        width: 209px;
      }
      @include respond(tab) {
        width: 269px;
      }
      @include respond(phone_land) {
        width: 50%;
        flex: 1;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      p {
        font-size: $font21;
        margin-top: 10px;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        line-height: 33px;
        color: #000;
        @include respond(phone_land) {
          font-size: $font14;
          line-height: inherit;
          margin-top: 5px;
        }
      }
    }
  }
  .right-section {
    margin-left: 64px;
    @include respond(tab_land) {
      margin-left: 54px;
    }
    @include respond(tab) {
      margin-left: 0;
    }
    .content-section {
      @include respond(tab) {
        margin-bottom: 15px;
      }
      @include respond(phone_land) {
        margin-bottom: 0;
      }
      h2 {
        font-size: $font44;
        font-weight: $fontweight4;
        font-family: $fontmedium;
        color: #1c190e;
        font-style: normal;
        line-height: 33px;
        @include respond(phone_land) {
          font-size: 20px;
          text-align: center;
        }
      }
      p {
        font-size: $font18;
        padding: 24px 0px 37px;
        line-height: 27px;
        color: $logoName;
        letter-spacing: 1px;
        font-style: normal;
        font-weight: $fontweight5;
        @include respond(phone_land) {
          text-align: center;
          padding-top: 9px;
          padding-bottom: 14px;
          font-size: 14px;
          line-height: normal;
        }
      }
      a,
      .link {
        background: $black;
        color: $white;
        font-size: $font16;
        border-radius: 8px;
        padding: 13px 35px;
        font-weight: $fontweight4;
        font-family: $fontmedium;
        display: inline-block;
        transition: all 0.4s ease-in-out;
        text-decoration: none;
        &:hover {
          background: rgba($color: #000000, $alpha: 1);
        }
        @include respond(tab) {
          display: none;
        }
      }
    }
  }
}
